- hosts: corpdns, inetfw
  roles:
    - kyoushi-gather
  vars:
    kyoushi_gather_ignore_errors: yes
    kyoushi_gather_configs:
      - src: /var/lib/suricata
        recursive: true
      - src: /etc
        recursive: true
        exclude:
          - "/etc/runit "
          - "/etc/sv "

    kyoushi_gather_logs:
      - src: /var/log
        recursive: true


- hosts: videoserver
  roles:
    - kyoushi-gather
  vars:
    kyoushi_gather_ignore_errors: yes
    kyoushi_gather_logs:
      - /var/www/default/log/
      - src: /var/log
        recursive: true

    kyoushi_gather_configs:
      - src: /etc
        recursive: true
        exclude:
          - "/etc/runit "
          - "/etc/sv "

- hosts: attacker
  roles:
    - kyoushi-gather
  vars:
    kyoushi_gather_ignore_errors: yes
    kyoushi_gather_logs:
      - /home/aecid/attackmate.log
      - /home/aecid/output.log
      - src: /var/log
        recursive: true

    kyoushi_gather_configs:
      - src: /home/aecid/scenario*.yml
      - src: /var/www/html
        recursive: true
      - src: /etc
        recursive: true
        exclude:
          - "/etc/runit "
          - "/etc/sv "

