{
    "base_image" : "Ubuntu 24.04",
    "image_name" : "atb-docker-image",
    "security_group": "default",
    "network": "653b15f3-c7e1-41bf-99d5-f8ad0f96f959",
    "floating_ip_pool": "AECID-provider-network"
}
