{
    "base_image" : "Debian 12",
    "image_name" : "atb-linuxshare-image",
    "security_group": "default",
    "network": "653b15f3-c7e1-41bf-99d5-f8ad0f96f959",
    "floating_ip_pool": "provider-aecid-208"
}
