roles/
venv/
.venv/
.env
.terragrunt-cache/
.terraform.lock.hcl
collections
docs/build/
*.qcow2
.mypy_cache/
*.tfstate

# temporary packer-key(debug)
os_builder.pem

# ignore gathered logs
gather/
gather_scenario_*/

# ignore packer-configs
default.json

# ignore terraform variables file
terraform.tfvars
terraform.tfvars.json
