{
    "Id": "43897240-ae86-4b06-b4da-143727f9520a",
    "status": "Run",
    "TimeLineHandlers": [
        {
            "HandlerType": "BrowserFirefox",
            "Initial": "about:config",
            "UtcTimeOn": "00:00:00",
            "UtcTimeOff": "24:00:00",
            "HandlerArgs": {
                "isheadless": "true",
                "blockimages": "true",
                "blockstyles": "true",
                "blockflash": "true",
                "blockscripts": "true",
                "stickiness": 0,
                "stickiness-depth-min": 3,
                "stickiness-depth-max": 10,
                "incognito": "false"
            },
            "Loop": "True",
            "TimeLineEvents": [
                {
                    "Command": "browse",
                    "CommandArgs": [
                        "http://172.17.100.121"
                    ],
                    "DelayBefore": 0,
                    "DelayAfter": 100
                },
                {
                    "Command": "type",
                    "CommandArgs": [
                        "username",
                        "admin"
                    ],
                    "DelayAfter": {
                        "Type": "random",
                        "Base": 300,
                        "Range": 200
                    },
                    "DelayBefore": 0
                },
                {
                    "Command": "type",
                    "CommandArgs": [
                        "password",
                        "zm_VERY_S3CURE_PASSW0RD"
                    ],
                    "DelayAfter": {
                        "Type": "random",
                        "Base": 300,
                        "Range": 200
                    },
                    "DelayBefore": 0
                },
                {
                    "Command": "click.by.cssselector",
                    "CommandArgs": [
                        ".btn"
                    ],
                    "DelayAfter": 2000,
                    "DelayBefore": 0
                },
                {
                    "Command": "click.by.linktext",
                    "CommandArgs": [
                        "Options"
                    ],
                    "DelayAfter": {
                        "Type": "random",
                        "Base": 4000,
                        "Range": 1000
                    },
                    "DelayBefore": 0
                },
                {
                    "Command": "click.by.linktext",
                    "CommandArgs": [
                        "Storage"
                    ],
                    "DelayAfter": {
                        "Type": "random",
                        "Base": 4000,
                        "Range": 1000
                    },
                    "DelayBefore": 0
                },
                {
                    "Command": "click.by.linktext",
                    "CommandArgs": [
                        "Config"
                    ],
                    "DelayAfter": {
                        "Type": "random",
                        "Base": 3000,
                        "Range": 1000
                    },
                    "DelayBefore": 0
                },
                {
                    "Command": "click.by.linktext",
                    "CommandArgs": [
                        "Network"
                    ],
                    "DelayAfter": {
                        "Type": "random",
                        "Base": 3000,
                        "Range": 1000
                    },
                    "DelayBefore": 0
                },
                {
                    "Command": "click.by.linktext",
                    "CommandArgs": [
                        "Montage Review"
                    ],
                    "DelayAfter": {
                        "Type": "random",
                        "Base": 3000,
                        "Range": 1000
                    },
                    "DelayBefore": 0
                },
                {
                    "Command": "click.by.cssselector",
                    "CommandArgs": [
                        "#liveButton"
                    ],
                    "DelayAfter": {
                        "Type": "random",
                        "Base": 3000,
                        "Range": 1000
                    },
                    "DelayBefore": 0
                },
                {
                    "Command": "click.by.cssselector",
                    "CommandArgs": [
                        "#allof"
                    ],
                    "DelayAfter": {
                        "Type": "random",
                        "Base": 3000,
                        "Range": 1000
                    },
                    "DelayBefore": 0
                },
                {
                    "Command": "click.by.linktext",
                    "CommandArgs": [
                        "Console"
                    ],
                    "DelayAfter": {
                        "Type": "random",
                        "Base": 3000,
                        "Range": 1000
                    },
                    "DelayBefore": 0
                },
                {
                    "Command": "click.by.linktext",
                    "CommandArgs": [
                        "Monitor-1"
                    ],
                    "DelayAfter": {
                        "Type": "random",
                        "Base": 3000,
                        "Range": 1000
                    },
                    "DelayBefore": 0
                },
                {
                    "Command": "click.by.linktext",
                    "CommandArgs": [
                        "Log"
                    ],
                    "DelayAfter": {
                        "Type": "random",
                        "Base": 3000,
                        "Range": 1000
                    },
                    "DelayBefore": 0
                },
                {
                    "Command": "click.by.cssselector",
                    "CommandArgs": [
                        "#refreshBtn"
                    ],
                    "DelayAfter": {
                        "Type": "random",
                        "Base": 3000,
                        "Range": 1000
                    },
                    "DelayBefore": 0
                },
                {
                    "Command": "click.by.linktext",
                    "CommandArgs": [
                        "Filters"
                    ],
                    "DelayAfter": {
                        "Type": "random",
                        "Base": 3000,
                        "Range": 1000
                    },
                    "DelayBefore": 0
                },
                {
                    "Command": "click.by.linktext",
                    "CommandArgs": [
                        "Montage"
                    ],
                    "DelayAfter": {
                        "Type": "random",
                        "Base": 100000,
                        "Range": 1000
                    },
                    "DelayBefore": 0
                }
            ],
            "SchedulerType": "Other"
        },
        {
            "HandlerType": "BrowserChrome",
            "Initial": "about:config",
            "UtcTimeOn": "00:00:00",
            "UtcTimeOff": "24:00:00",
            "HandlerArgs": {
                "executable-location": "/usr/bin/google-chrome",
                "isheadless": "false",
                "blockimages": "true",
                "blockstyles": "true",
                "blockflash": "true",
                "blockscripts": "true",
                "stickiness": 50,
                "stickiness-depth-min": 3,
                "stickiness-depth-max": 10,
                "incognito": "false"
            },
            "Loop": "True",
            "TimeLineEvents": [
                {
                    "Command": "random",
                    "CommandArgs": [
                        "http://www.ceoexpress.com",
                        "http://wikipedia.org",
                        "http://ebay.com",
                        "http://craigslist.org",
                        "http://reddit.com",
                        "http://instagram.com",
                        "http://imdb.com",
                        "http://huffingtonpost.com",
                        "http://nytimes.com",
                        "http://msn.com",
                        "http://buzzfeed.com",
                        "http://homedepot.com",
                        "http://target.com",
                        "http://bestbuy.com",
                        "http://about.com",
                        "http://intuit.com",
                        "http://cnet.com",
                        "http://verizonwireless.com",
                        "http://reference.com",
                        "http://fedex.com",
                        "http://ancestry.com",
                        "http://swagbucks.com",
                        "http://comcast.com",
                        "http://hp.com",
                        "http://steamcommunity.com",
                        "http://wow.com",
                        "http://wikimedia.org",
                        "http://io9.com",
                        "http://dailymotion.com",
                        "http://nbcsports.com",
                        "http://walgreens.com",
                        "http://match.com"
                    ],
                    "DelayAfter": {
                        "Type": "random",
                        "Base": 6000,
                        "Range": 2000
                    },
                    "DelayBefore": 0
                },
                {
                    "Command": "browse",
                    "CommandArgs": [
                        "http://www.duckduckgo.com"
                    ],
                    "DelayAfter": 400,
                    "DelayBefore": 100
                },
                {
                    "Command": "type",
                    "CommandArgs": [
                        "q",
                        "test search string"
                    ],
                    "DelayAfter": {
                        "Type": "random",
                        "Base": 400,
                        "Range": 100
                    },
                    "DelayBefore": 0
                }
            ],
            "SchedulerType": "Other"
        }
    ]
}

