- name: Install Repository Host
  hosts: all
  remote_user: ubuntu
  become: true
  post_tasks:
    - name: Remove default cloud ssh config
      ansible.builtin.file:
        path: /etc/ssh/sshd_config.d/60-cloudimg-settings.conf
        state: absent
  tasks:
    - name: Install Reposerver Packages
      ansible.builtin.apt:
          pkg:
            - curl
            - netcat-traditional
          update_cache: yes
    - name: Allow password login
      ansible.builtin.copy:
        dest: /etc/ssh/sshd_config.d/99-password.conf
        content: 'PasswordAuthentication yes'

  roles:
          - role: hostname
            vars:
                  hostname: "puppet"
                  hostname_fqdn: "puppet.attackbed.local"
                  hostname_ip: "172.17.100.122"
          - role: aeciduser
            vars:
                  # pass: aecid
                  aeciduser_pass: "$6$9AqxTPJqYsFXwgPN$xAC4y1Vndk00EaBCuFcJC37BYDYYVAgt9SHymg15KSdKddZnwG.SsQaJvHarH4DYQj3tuboeLa4G5EfL7itcC0"
          - role: aecidtools
          - role: weaklinuxuser
            vars:
              weaklinuxuser_sudo: False
              weaklinuxuser_groups:
                - sudo
            vars:
                  aecidtools_user: "aecid"
          - role: manage_unattended_upgrades
          - role: auditd
          - role: mate-desktop
          - role: tightvnc
            vars:
                  vnc_user: "john"
                  vnc_password: "12345678"
                  vnc_display: ":1"
                  vnc_port: 5901
          - role: puppetserver
          - role: disableresolved
          - role: acct
          - role: collectd
          - role: vsftpd
          - role: tcpdump
          - role: nfsmount
            vars:
              nfsmount_shares:
                - dir: /media/share
                  host: 192.168.100.23
                  export: /media/health
          - role: dpkgrepo

