- name: Install old Debian-Archive-Repo Host
  hosts: all
  remote_user: debian
  become: true
  vars:
    debsnap_timestamp: 20210815T082041Z
    debsnap_debrelease: bullseye
  tasks:
    - name: Deactivate ipv6
      ansible.builtin.shell: echo 1 > /proc/sys/net/ipv6/conf/all/disable_ipv6
    - name: Switch to archive mirror because of bullseye-backports 
      ansible.builtin.replace:
        path: /etc/apt/sources.list
        regexp: 'deb.debian.org/debian bullseye-backports'
        replace: 'archive.debian.org/debian bullseye-backports'
  roles:
    - role: debiansnapshot

- name: Install Videoserver Host
  hosts: all
  remote_user: debian
  become: true
  vars:
    php_version: "7.4"
    php_ini_path: "/etc/php/{{ php_version }}/apache2/php.ini"
    timezone: "UTC"
  tasks:
    - name: Install Videoserver Packages
      ansible.builtin.apt:
          pkg:
            - policykit-1
            - vim
            - curl
            - netcat-traditional
          update_cache: yes
    - name: Misconfigured Systemd Service
      ansible.builtin.file:
          path: /lib/systemd/system/zoneminder.service
          mode: 0646
    - name: Allow password login
      ansible.builtin.copy:
        dest: /etc/ssh/sshd_config.d/password.conf
        content: 'PasswordAuthentication yes'

    - name: Set 'date.timezone = UTC' in php.ini
      ansible.builtin.lineinfile:
        path: "{{ php_ini_path }}"
        regexp: ';date.timezone =' # Matches lines with or without leading semicolon, and current value
        line: 'date.timezone = {{ timezone }}' 
        state: present
        backup: yes 
        insertafter: EOF # Add at the end of the file if not found, as a fallback
      notify: Restart Apache2

  handlers:
  - name: Restart Apache2
    ansible.builtin.service:
      name: apache2
      state: restarted


  roles:
          - role: aeciduser
            vars:
                  # pass: aecid
                  aeciduser_pass: "$6$9AqxTPJqYsFXwgPN$xAC4y1Vndk00EaBCuFcJC37BYDYYVAgt9SHymg15KSdKddZnwG.SsQaJvHarH4DYQj3tuboeLa4G5EfL7itcC0"
          - role: aecidtools
            vars:
                  aecidtools_user: "aecid"
          - role: manage_unattended_upgrades
          - role: mariadb
          - role: logrotten
          - role: apache2
            vars:
              apache2_modules:
                - name: "headers"
                - name: "rewrite"
                - name: "expires"
                - name: "cgi"
              apache2_vhosts:
                - name: default
                  http: true
                  vhost_template: "redir.j2"
          - role: zoneminder
            vars:
              zoneminder_debrelease: bullseye
              zoneminder_cams:
                - name: cam-1
                  id: 1
                  url: rtsp://cam:cam@172.17.100.80:8554/mystream
          - role: sudoweakness
          - role: sshkeyprivesc
          - role: awffullprivesc
          - role: auditd
          - role: acct
          - role: collectd
          - role: rootkeys
          - role: filebeat
            vars:
              filebeat_service_enabled: false
              filebeat_output_kafka_enabled: true
              filebeat_output_kafka_hosts:
                - "kafka.attackbed.local:9092"
              filebeat_output_kafka_topic: "logs"
              filebeat_template: "filebeatkafka.yml.j2"
              filebeat_inputs:
                - type: log
                  paths:
                    - "/var/log/*.log"  # includes auth.log
                    - "/var/log/syslog"
              filebeat_output_logstash_enabled: false
              filebeat_modules:
                - tpl: "apache2.yml"
                  paths: ["/var/www/default/log/access.log", "/var/www/default/log/error.log"]
                - tpl: "auditd.yml"
                  paths: ["/var/log/audit/audit.log"]
          - role: wazuh_agent
            vars:
                  wazuh_manager: 192.168.100.130
                  wazuh_localfiles:
                    - log_format: audit
                      location: /var/log/audit/audit.log
                    - log_format: json
                      location: /var/log/suricata/eve.json
                    - log_format: syslog
                      location: /var/log/suricata/fast.log
                    - log_format: syslog
                      location: /var/log/suricata/suricata.log
                    - log_format: syslog
                      location: /var/log/*.log
                    - log_format: syslog
                      location: /var/www/default/log/*.log

