dnsserver_image = "atb-corpdns-image-2026-02-26T08-11-32Z"
videoserver_image = "atb-videoserver-image-2026-02-27T13-46-11Z"
adminpc_image = "atb-adminpc-image-2026-02-26T13-54-41Z"
webcam_image = "atb-webcam-image-2026-02-27T14-26-04Z"
ext_router = "myrouter"
sshkey = "my-ssh-key"
floating_pool = "some-floating-pool"
