- name: Retstart dnsmasq on inetdns
  hosts: inetdns
  become: true
  tasks:
  - name: stop dnsmasq
    ansible.builtin.service:
      name: dnsmasq
      state: stopped
    tags:
      - playbooks

  - name: start dnsmasq
    ansible.builtin.service:
      name: dnsmasq
      state: started
    tags:
      - playbooks

- name: Install Attacker Host
  hosts: attacker
  become: true
  vars:
    attacker_user: aecid
    attacker_ip: 192.42.1.174
    delay_before_attack: 600
  tasks:
    - name: get user home directory
      ansible.builtin.shell: >
             getent passwd {{ attacker_user }}  | awk -F: '{ print $6 }'
      changed_when: false
      register: user_home
      tags:
        - metasploit
        - zoneminder
        - exploit
        - config
        - install
        - git
        - attackmate
        - playbooks

    - name: Add cmd_config block to end of /etc/attackmate.yml
      ansible.builtin.blockinfile:
        path: /etc/attackmate.yml
        block: |
          cmd_config:
            command_delay: 15
        create: true  # Creates the file if it doesn't exist
        backup: yes
        insertafter: EOF 
        marker: "# {mark} ANSIBLE MANAGED BLOCK FOR CMD_CONFIG"
      become: true
      tags:
        - playbooks

  
# this is the key needed for scenario a_c when mgmt is used as jump host
    - name: Generate SSH key pair for attacker to access mgmt
      ansible.builtin.openssh_keypair:
        path: "{{ user_home.stdout }}/.ssh/attacker_mgmt"
        type: rsa
        size: 4096
        owner: "{{ attacker_user }}"
        group: "{{ attacker_user }}"
        mode: '0600'
      tags:
        - ssh
        - playbooks

    - name: Read SSH public key from attacker
      become: yes
      ansible.builtin.slurp:
        src: "{{ user_home.stdout }}/.ssh/attacker_mgmt.pub"
      register: ssh_key_mgmt
      tags:
        - ssh
        - playbooks
    
    - name: Add public key to mgmt's authorized_keys
      become: yes
      ansible.builtin.authorized_key:
        user: aecid
        state: present
        key: "{{ ssh_key_mgmt.content | b64decode }}"
      delegate_to: mgmt
      tags:
        - ssh
        - playbooks

    - name: Set attacker_mgmt_public_key as a fact
      ansible.builtin.set_fact:
        attacker_mgmt_public_key: "{{ ssh_key_mgmt.content | b64decode }}"
      tags:
        - ssh
        - playbooks

- name: add ssh key to adminpc2
  hosts: adminpc2
  become: true
  tasks:
    - name: Add public key to adminpcs's authorized_keys
      become: yes
      ansible.builtin.authorized_key:
        user: aecid
        state: present
        key: "{{ hostvars['attacker']['attacker_mgmt_public_key'] }}"
      tags:
        - ssh
        - playbooks

- name: Install Attacker Host Part 2
  hosts: attacker
  become: true
  vars:
    attacker_user: aecid
    attacker_ip: 192.42.1.174
    delay_before_attack: 600
  tasks:

    - name: Copy user-password-combo
      ansible.builtin.copy:
              src: user_pass_combo.txt
              dest: "{{user_home.stdout}}/user_pass_combo.txt"
              mode: "0644"
      tags:
          - playbooks

    - name: Prepare Metasploit-directory
      ansible.builtin.file:
          path: "{{user_home.stdout}}/.msf4/modules/exploits/linux/misc/"
          state: directory
          recurse: True
      tags:
          - scenario_3_b 

    - name: upload exploit
      ansible.builtin.copy:
        src: healthcheck_rce.rb
        dest: "{{user_home.stdout}}/.msf4/modules/exploits/linux/misc/"
      tags:
          - scenario_3_b 


    - name: Restart msfrpcd
      become: True
      ansible.builtin.shell: systemctl restart msfrpcd
      tags:
          - scenario_3_b 

    - name: Copy playbooks
      become: True
      become_user: "{{attacker_user}}"
      ansible.builtin.template:
          src: "{{ item }}.j2"
          dest: "{{user_home.stdout}}/{{ item }}.yml"
          mode: '0755'
      loop:
          - scenario_3_a_a
          - scenario_3_a_b
          - scenario_3_a_c
          - scenario_3_a_d
          - scenario_3_b_a
          - scenario_3_b_b
          - scenario_3_b_c
          - scenario_3_b_d
          - upgrade
      tags:
         - metasploit
         - attackmate
         - exploit
         - config
         - install
         - playbooks

    - name: "Run Scenario 3 a a"
      become: True
      become_user: "{{attacker_user}}"
      ansible.builtin.shell:
          cmd: "sleep {{delay_before_attack}} && /usr/local/bin/attackmate-tmux scenario_3_a_a.yml --json"
          chdir: "{{user_home.stdout}}"
      tags:
         - scenario_3_a_a
         - metasploit
         - attackmate
         - exploit

    - name: "Run Scenario 3 a b"
      become: True
      become_user: "{{attacker_user}}"
      ansible.builtin.shell:
          cmd: "sleep {{delay_before_attack}} && /usr/local/bin/attackmate-tmux scenario_3_a_b.yml --json"
          chdir: "{{user_home.stdout}}"
      tags:
         - scenario_3_a_b
         - metasploit
         - attackmate
         - exploit
          
    - name: "Run Scenario 3 a c"
      become: True
      become_user: "{{attacker_user}}"
      ansible.builtin.shell:
          cmd: "sleep {{delay_before_attack}} && /usr/local/bin/attackmate-tmux scenario_3_a_c.yml --json"
          chdir: "{{user_home.stdout}}"
      tags:
         - scenario_3_a_c
         - metasploit
         - attackmate
         - exploit

    - name: "Run Scenario 3 a d"
      become: True
      become_user: "{{attacker_user}}"
      ansible.builtin.shell:
          cmd: "sleep {{delay_before_attack}} && /usr/local/bin/attackmate-tmux scenario_3_a_d.yml --json"
          chdir: "{{user_home.stdout}}"
      tags:
         - scenario_3_a_d
         - metasploit
         - attackmate
         - exploit

    - name: "Run Scenario 3 b a"
      become: True
      become_user: "{{attacker_user}}"
      ansible.builtin.shell:
          cmd: "sleep {{delay_before_attack}} && /usr/local/bin/attackmate-tmux scenario_3_b_a.yml --json"
          chdir: "{{user_home.stdout}}"
      tags:
         - scenario_3_b_a
         - metasploit
         - attackmate
         - exploit

    - name: "Run Scenario 3 b b"
      become: True
      become_user: "{{attacker_user}}"
      ansible.builtin.shell:
          cmd: "sleep {{delay_before_attack}} && /usr/local/bin/attackmate-tmux scenario_3_b_b.yml --json"
          chdir: "{{user_home.stdout}}"
      tags:
         - scenario_3_b_b
         - metasploit
         - attackmate
         - exploit

    - name: "Run Scenario 3 b c"
      become: True
      become_user: "{{attacker_user}}"
      ansible.builtin.shell:
          cmd: "sleep {{delay_before_attack}} && /usr/local/bin/attackmate-tmux scenario_3_b_c.yml --json"
          chdir: "{{user_home.stdout}}"
      tags:
         - scenario_3_b_c
         - metasploit
         - attackmate
         - exploit

    - name: "Run Scenario 3 b d"
      become: True
      become_user: "{{attacker_user}}"
      ansible.builtin.shell:
          cmd: "sleep {{delay_before_attack}} && /usr/local/bin/attackmate-tmux scenario_3_b_d.yml --json"
          chdir: "{{user_home.stdout}}"
      tags:
         - scenario_3_b_d
         - metasploit
         - attackmate
         - exploit
