- name: Install AdminPC
  hosts: all
  become: true
  vars:
    user: aecid
    attacker_home: "/home/{{ user }}"
    venv_path: "/usr/local/share/attackmate/venv"
  tasks:
          - name: Allow password login
            ansible.builtin.copy:
              dest: /etc/ssh/sshd_config.d/password.conf
              content: 'PasswordAuthentication yes'
          - name: Install at scheduler
            ansible.builtin.apt:
              name: at
              state: present
          - name: Ensure ownership of .config is aecid:aecid
            file:
              path: /home/{{ user }}/.config
              owner: "{{ user }}"
              group: "{{ user }}"
              recurse: yes
          - name: Install Playwright in virtual environment
            ansible.builtin.shell: |
              source {{ venv_path }}/bin/activate && playwright install
            args:
              executable: /bin/bash
          - name: Install Playwright dependencies in virtual environment
            ansible.builtin.shell: |
              source {{ venv_path }}/bin/activate && playwright install-deps
            args:
              executable: /bin/bash
          - name: Recursively change ownership
            file:
              path:  /usr/local/share/attackmate
              state: directory
              recurse: yes
              mode : 0775
              owner: "{{ user }}"
              group: "{{ user }}"

  roles:
          - role: aeciduser
            vars:
                  # pass: aecid
                  aeciduser_pass: "$6$9AqxTPJqYsFXwgPN$xAC4y1Vndk00EaBCuFcJC37BYDYYVAgt9SHymg15KSdKddZnwG.SsQaJvHarH4DYQj3tuboeLa4G5EfL7itcC0"
          - role: aecidtools
            vars:
                  aecidtools_user: "aecid"
          - role: manage_unattended_upgrades
          - role: hostname
            vars:
                  hostname: admin
                  hostname_ip: 10.12.0.222
                  hostname_fqdn: admin.attackbed.local
          - role: attackmate
            vars:
              attackmate_msf_server: "localhost"
              attackmate_msf_passwd: "hackerman"
              attackmate_sliver_config: "/home/aecid/.sliver-client/configs/aecid_localhost.cfg"
              attackmate_tmux_session: "aecid"
              attackmate_playwright: True
          - role: mate-desktop
          - role: novnc
          - role: collectd
          - role: acct
          - role: rootkeys
            vars:
                  rootkeys_install_public: False
                  rootkeys_install_private: True
                  rootkeys_private_key_user: aecid
                  rootkeys_private_dir: "/home/aecid/.ssh"
