- name: Retstart dnsmasq on inetdns
  hosts: inetdns
  become: true
  tasks:
  - name: stop dnsmasq
    ansible.builtin.service:
      name: dnsmasq
      state: stopped
    tags:
      - playbooks

  - name: start dnsmasq
    ansible.builtin.service:
      name: dnsmasq
      state: started
    tags:
      - playbooks

- name: Start Ghosts Client on Admin PC
  hosts: adminpc1
  become: true
  vars:
    ghostsagent_user: "aecid"
    ghostagent_path: "/home/{{ ghostsagent_user }}/ghosts-client-linux-v8.0.0"
  tasks:

    - name: Copy ghostagent config files
      ansible.builtin.template:
        src: "{{ item }}.j2"
        dest: "{{ghostagent_path}}/config/{{ item }}.json"
        mode: '0755'
      loop:
        - application
        - timeline

    - name: Run ghost client on adminpc and administer its process id
      ansible.builtin.shell: "{{ghostagent_path}}/ghosts.client.linux > /home/{{ ghostsagent_user }}/ghosts-client.log 2>&1 & echo $! > /tmp/ghosts_client.pid"
      async: 3600
      poll: 0
      tags:
        - run-ghosts-client

- name: Run Attacker Tasks
  hosts: attacker
  become: true
  vars:
    attacker_user: aecid
    attacker_home: "/home/{{ attacker_user }}"
  tasks:
    - name: Ensure delay of 10 seconds
      ansible.builtin.replace:
        path: /etc/attackmate.yml
        regexp: 'command_delay: 0'
        replace: 'command_delay: 10'
        backup: yes
      become: true
      tags:
        - playbooks

    - name: Copy entire folder to attacker
      ansible.builtin.copy:
        src: "files/"
        dest: "{{ attacker_home }}/scenario5/"
        mode: '0755'
        owner: "{{ attacker_user }}"
        group: "{{ attacker_user }}"
        remote_src: no
      tags:
        - attacker-tasks

    - name: Run final playbook on attacker with activated environment
      ansible.builtin.shell: |
        source /usr/local/share/attackmate/venv/bin/activate && attackmate {{ attacker_home }}/scenario5/playbook.yml
      args:
        executable: /bin/bash  # run command in a bash shell
      tags:
        - attacker-tasks

- name: Stop Ghosts Client on Admin PC
  hosts: adminpc1
  become: true
  tasks:
    - name: Stop Ghosts Client
      ansible.builtin.shell: "kill $(cat /tmp/ghosts_client.pid)"
      ignore_errors: true  # ignore errors in case the process has already stopped
      tags:
        - stop-ghosts-client
