- name: Install Firewall
  hosts: inetfw
  become: true
  vars:
    suricata_interface: [ens3]
  roles:
    - role: ansible-suricata
    - role: ansible-dnsmasq
      vars:
        dnsmasq_systemd_resolved_disable: true
    - role: shorewall
      vars:
        shorewall_startup: 1
        shorewall_ipforward: "On"

        shorewall_configs:
          zones:
            - { name: inet, 
                type: ipv4,
                interface: { name: $INETIF, broadcast: detect, options: "routeback,nosmurfs" }
              }
            - { 
                name: lan, 
                type: ipv4,
                interface: { name: $LANIF, broadcast: detect, options: "routeback,bridge,nosmurfs" }
              }
            - { 
                name: dmz, 
                type: ipv4,
                interface: { name: $DMZIF, broadcast: detect, options: "routeback,bridge,nosmurfs" }
              }
          policy:
            - { source: fw,    dest: all,   policy: ACCEPT }
            - { source: lan,   dest: inet,  policy: ACCEPT }
            - { source: dmz,   dest: inet,  policy: ACCEPT }
            - { source: lan,   dest: dmz,  policy: ACCEPT }
            - THIS POLICY HAS TO BE THE LAST
            - { source: all,   dest: all,   policy: REJECT, log: info } 
          rules:
            # - { action: DNAT, source: inet, dest: "lan:192.168.213.10:22", proto: tcp, dest_port: 10022 }
            - Permit access to SSH
            - { action: SSH/ACCEPT,  source: lan, dest: fw }
            - { action: SSH/ACCEPT,  source: dmz, dest: fw }
            # - { action: ACCEPT,      source: inet, dest: fw, proto: tcp, dest_port: "443,8006" }
            - PING Rules
            - { action: Ping/ACCEPT, source: all, dest: all }
            - { action: ACCEPT, source: lan, dest: dmz }
            - { action: ACCEPT, source: dmz, dest: lan }
            - { action: ACCEPT, source: dmz, dest: dmz }
            - { action: ACCEPT, source: lan, dest: dmz:172.17.100.122, proto: tcp, dest_port: 5000 }
            - { action: ACCEPT, source: dmz:172.17.100.122, dest: lan:192.168.100.222, proto: tcp, dest_port: 5000 }
          snat:
            - { dest: $INETIF, source: 192.168.100.0/24 }
            - { dest: $INETIF, source: 172.17.100.0/24 }
          params:
            - Interfaces
            - { name: INETIF, value: ens3 }
            - { name: LANIF, value: ens4 }
            - { name: DMZIF, value: ens5 }

    - role: auditd
